{% extends "layout.html" %} {% block title %}Attributions:: {% endblock %} {%
block lead %}Use this page to attribute work done on your project. This includes
the work done by each of the student members on your team and any work that was
done by people outside of your team, including the host labs, advisors,
instructors, and individuals not on the team roster. This requirement is not
about literature references - these can and should be displayed throughout your
wiki.{% endblock %} {% block page_content %}

<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-attributions-banner.png"
      class="banner"
    />
  </div>
</div>

<section class="sec sec-att">
  <div class="att-container">
    <div class="att-mask text-mask-1">
      <span> Attributions </span>
    </div>
    <div class="att-mask text-mask-2">
      <span
        >The iGEM competition is a student-led research competition. We have
        proactively set the project, collected the fund, and executed the
        experiments. However, this could not be possible without many
        contributions of experts, advisors, and institutions. Their insight and
        consideration helped us a lot in successfully completing our first
        attempt.
      </span>
    </div>
    <hr />
    <br />
    <br />
    <div class="att-mask text-mask-3">
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/team-supervisor.png"
          width="50%"
        />
      </div>
      <span style="font-weight: 500; font-size: 2.33vw">
        Supervisor - Prof. Dr. Sungho Jang
      </span>
      <div class="intr att-intr">
        <span
          >Prof. Dr. Sungho Jang is a supervisor of our team. When we asked our
          competition proposal, he gladly accepts our suggestion although our
          belonged universities were different.<br />
          He provided the research advisory on biology, the research
          environment, and financial support. Thanks to his consideration
          ensuring our free discussion on the research concept,<br />
          we could do what we really want. We also appreciate his tolerance for
          the resource waste in his lab by our multiple errors. <br />In
          addition, we would like to comment our gratitude on his lab members
          who gladly agreed to share their lab space. Advices of Dr. Lee and MS
          candidate Yun were really helpful to keep the biosafety in the lab.
        </span>
      </div>
    </div>

    <div class="att-mask text-mask-4" style="margin-top: 20vh">
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/team-advisor.png"
          width="50%"
        />
      </div>
      <span style="font-weight: 500; font-size: 2.33vw">
        Advisor - Michael Taylor
      </span>
      <div class="intr att-intr">
        <span
          >We met our team’s mentor, Michael Taylor through the Mentorship
          program. He kept leaving advices on our project progress. He also
          helped to match with FSU team for the collaboration. At every stage of
          the competition, he shared his experiences, reminding us to be careful
          when preparing. I can't thank you any more for his devoted commentary.
        </span>
      </div>
    </div>

    <div class="att-mask text-mask-5" style="margin-top: 20vh">
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/team-advisor-2.png"
          width="50%"
        />
      </div>
      <span style="font-weight: 500; font-size: 2.33vw">
        Advisor - Prof. Dr. Di Wu
      </span>
      <div class="intr att-intr">
        <span
          >Prof. Dr. Di Wu is an expert of the wastewater treatment. He shared
          his insight based on environmental chemistry. His comments were help
          to design our bioreactor. We also knew why microalgae rarely use in
          the current wastewater treatment from him.
        </span>
      </div>
    </div>

    <div class="att-mask text-mask-6" style="margin-top: 20vh">
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/team-advisor-3.png"
          width="50%"
        />
      </div>
      <span style="font-weight: 500; font-size: 2.33vw">
        Advisor - Minho Ham</span
      >
      <div class="intr att-intr">
        <span
          >He is our exterior developer of the dry lab. He supported our
          bioreactor design by drawing its blueprint. Thanks to his contribution
          on the hardware implementation, our dry lab members could develop
          software parts.
        </span>
      </div>
    </div>

    <div class="att-mask text-mask-7" style="margin-top: 20vh">
      <span style="font-weight: 500; font-size: 2.73vw"> Sponsor</span
      ><br /><br />

      <span style="font-weight: 400; font-size: 2.33vw">
        Integrated DNA Technologies & Twist Bioscience
      </span>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/team-sponsor-1.png"
          width="50%"
        />
      </div>

      <div class="intr att-intr">
        <span
          >Thanks to their competition sponsorship, we could receive free
          synthesized gene fragments and proceed our project.
        </span>
      </div>
    </div>
    <div class="att-mask text-mask-8" style="margin-top: 20vh">
      <span style="font-weight: 400; font-size: 2.33vw"> Sheco </span>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/team-sponsor-2.png"
          width="50%"
        />
      </div>
      <div class="intr att-intr">
        <span
          >Sheco is a company which provide a solution for the small-scale oil
          leakage. The company develops a robot automatically responding to
          marine pollutants. We have struggled with sufficient space for our
          bioreactor development. By chance, we met the CEO of Sheco in the
          startup program, and they gladly offered us a space for our bioreactor
          development. We really appreciate the consideration of the company.
          <br />
          <br />
        </span>
      </div>
    </div>
  </div>
</section>

{% endblock %}
