{% extends "layout.html" %} {% block title %}Collaborations{% endblock %} {%
block lead %}Sharing and collaboration are core values of iGEM. We encourage you
to reach out and work with other teams on difficult problems that you can more
easily solve together.{% endblock %} {% block page_content %}

<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-collaborations-banner.png"
      class="banner"
    />
  </div>
</div>

{% endblock %}
