{% extends "layout.html" %} {% block title %}Collaborations{% endblock %} {%
block lead %}Sharing and collaboration are core values of iGEM. We encourage you
to reach out and work with other teams on difficult problems that you can more
easily solve together.{% endblock %} {% block page_content %}

<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-collaborations-banner.png"
      class="banner"
    />
  </div>
</div>

<section class="sec sec-collabo">
  <div class="collabo-container-1">
    <div class="text-mask-1">
      <span> Collaboration </span>
    </div>
    <div class="intr">
      <span
        >The iGEM competition emphasizes the interaction between teams. Indeed,
        we have collaborated with multiple teams. Collaboration allowed not only
        to share ideas, but also to listen to others.
      </span>
    </div>
    <hr />
  </div>
  <div class="collabo-container collabo-container-2">
    <div class="collabo-mask text-mask-1">
      <span>3. Florida State University (FSU) team</span>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/collabo-1.png"
          width="80%"
        />
      </div>
      <div class="intr collabo-intr">
        We had a meeting with FSU team. As a beginner, we strongly need to have
        a chance to listen other team’s experience. In the meeting, we discussed
        project concepts of each other. We found both projects can be
        complementary to each other. After that we received some advices for the
        competition and learned some concepts of applicable genetic elements.
      </div>
    </div>
  </div>
  <div class="collabo-container collabo-container-3">
    <div class="collabo-mask text-mask-1">
      <span>2. KU Leuven team</span>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/collabo-2.png"
          width="80%"
        />
      </div>
      <div class="intr collabo-intr">
        We participated the iGEM’s Den held by KU Leuven team. In the event, we
        listened other teams’ project presentation. We also showed our project
        and received experts’ comments. From experts, we are advised to build a
        mathematical modelling of our genetic circuit and reorganize the
        explanation for the appropriateness of our project.
      </div>
    </div>
  </div>
  <div class="collabo-container collabo-container-4">
    <div class="collabo-mask text-mask-1">
      <span>3. Korea HS team, KUAS team and Sogang team </span>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/collabo-3.png"
          width="90%"
        />
      </div>
      <div class="intr collabo-intr">
        To raise the public awareness of synthetic biology in Korea, we have
        prepared a debate competition for both high school students and
        undergraduates. For the success of the competition, we put efforts to
        introduce experts who would give a speech for educating synthetic
        biology to participants, and designed the whole program together.
        Especially, our team took a role for hosting the event. This
        collaboration was much meaningful since Korean teams prepared an event
        together for the first time.
        <br />
        <br />
      </div>
    </div>
  </div>
</section>

{% endblock %}
