{% extends "layout.html" %} {% block title %}Education:: {% endblock %} {% block
lead %}Innovative educational tools and outreach activities have the ability to
establish a two-way dialogue with new communities by discussing public values
and the science behind synthetic biology.{% endblock %} {% block page_content %}

<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-education-banner.png"
      class="banner"
      alt="education-banner"
    />
  </div>
</div>

<div class="sec sec-edu">
  <div class="sidebar-container">
    <div class="sidebar-hp sidebar-edu" id="sidebar-hp">
      <br />
      <br />
      <br />
      <a id="sidelink-1" href="#link-1">Current Situation</a>
      <a id="sidelink-2" href="#link-2">Basic concept</a>
      <a id="sidelink-3" href="#link-3">Policy</a>
      <a id="sidelink-4" href="#link-4" style="font-size: 20px"
        >Current biocontainment</a
      >
      <a id="sidelink-5" href="#link-5">Market</a>
      <a href="#">⇪</a>
    </div>
  </div>

  <div class="container-hp-1" id="containerHp1">
    <div class="hp-text-mask">
      <span>Education</span>
    </div>
    <div class="hp-text-mask-sub">
      <br />
      <br />

      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/edu-img-1.png"
          alt="edu-img"
          width="70%"
        />
      </div>
      <br />
      <br />
      <span>
        To raise the public awareness of synthetic biology in Korea, we have
        prepared a debate competition for both high school students and
        undergraduates. The competition event was composed of lecture of
        experts, project introduction of iGEM teams, and the debate competition.
      </span>

      <br />
      <br />
      <br />

      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/edu-img-2.png"
          alt="edu-img"
          width="47%"
        />
      </div>

      <br />

      <span>
        For the success of the competition, we put efforts to introduce experts
        who would give a speech for educating synthetic biology to participants.
        We asked our supervisor to help us and prof. Jang readily accepted it.
        Thanks to efforts of collaborated teams, we could make up three lectures
        for education parts.

        <br />
        <br />
        <br />

        <div class="text-mask-img">
          <img
            src="https://static.igem.wiki/teams/4310/wiki/edu-img-3.png"
            alt="edu-img"
            width="47%"
          />
        </div>

        <br />

        After that, each team had a presentation to introduce its idea in turn.
        It was a great chance to get an inspiration from others. We also did,
        but it was our regret to have presentation dealing with only concept,
        without experiment result due to schedule issue.

        <br />
        <br />

        <div class="text-mask-img">
          <img
            src="https://static.igem.wiki/teams/4310/wiki/edu-img-4.png"
            alt="edu-img"
            width="47%"
          />
        </div>

        The debate competition was held in offline and online rounds. In the
        undergraduate division, six people were selected from the offline
        competition from writing their opinion of a topic. The topic was: ”Is it
        mandatory to apply synthetic biology for improving competitiveness of a
        company?” In `the online round, we discussed two topics: “Is synthetic
        biology ethically right and how will it be regulated?” and “Will GMO
        cosmetics negatively affect to human skin health?” In the competition,
        we took a role of moderator to lead this event. It was burdensome, but a
        good moment to acknowledge different thought on topics.
        <br />
        <br />
        The event was meaningful in terms of the first partnership among Korean
        teams. For further continuous collaboration, Korean undergraduate teams
        agreed to establish an institute together. We also believe the co-work
        among local teams is beneficial for developing local synthetic biology
        community, so we will keep contributing to this.

        <br />
        <hr />

        {% endblock %}
      </span>
    </div>
  </div>
</div>
