{% extends "layout.html" %} {% block title %}Engineering:: {% endblock %} {%
block lead %}Demonstrate engineering success in a part of your project by going
through at least one iteration of the engineering design cycle.{% endblock %} {%
block page_content %}
<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-engineering-banner.png"
      class="banner"
    />
  </div>
</div>

<div class="sec sec-engineering">
  <div class="sidebar-container">
    <a id="link-1" href="#sidelink-1"></a>
    <div class="sidebar-hp sidebar-engineering" id="sidebar-hp">
      <br />
      <br />
      <br />
      <a id="sidelink-1" href="#link-1"
        >Golden Gate Assembly: Prefix/Suffix Block</a
      >
      <a id="sidelink-2" href="#link-2">General Description</a>
      <a id="sidelink-3" href="#link-3">Detailed Description</a>
      <a id="sidelink-4" href="#link-4">Experiment Design</a>
      <a id="sidelink-5" href="#link-5">Experiment Protocol</a>
      <a id="sidelink-6" href="#link-6">References</a>

      <a href="#">⇪</a>
    </div>
  </div>

  <div class="container-hp-1" id="containerHp1">
    <div class="hp-text-mask">
      <span>Golden Gate Assembly: Prefix/Suffix Block</span>
    </div>
    <br />
    <div class="hp-text-mask-sub" style="padding: 0 2vw">
      <span
        >For efficient golden gate assembly, our team prepared a gene fragment
        that only contains BsaI sequences and its cleavage site so that the
        prefix and suffix could be flexibly changed and attached to both ends of
        the transcription unit, assembled using SapI. The advantage of this
        method is that it is possible to greatly increase the number of gene
        fragments that can be synthesized using the golden gate assembly at once
        without the need to use various plasmids by ordering a prefix/suffix
        fragment at a low price. According to NEB, it was confirmed that their
        high-fidelity restriction enzyme could synthesize up to 52 gene
        fragments at a time. The first BsaI prefix and the last BsaI suffix have
        EcoRI and BamHI cleavage sites for double digestion and ligation to
        pCambia 2300 vector for agrobacterium-mediated microalgae
        transformation.
      </span>
      <br />
      <br />
      <br />

      <div class="text-mask-engi">
        <span>[Figure 1] BsaI Prefix/Suffix </span>
      </div>
      <br />

      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/engi-img-1.png"
          alt="fr-img"
          width="70%"
        />
        <br />
      </div>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/engi-img-2.png"
          alt="fr-img"
          width="70%"
        />
        <br />
      </div>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/engi-img-3.png"
          alt="fr-img"
          width="70%"
        />
        <br />
      </div>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/engi-img-4.png"
          alt="fr-img"
          width="70%"
        />
      </div>
      <br />
      <br />
      <div class="text-mask-engi">
        <span>[Figure 2] Simple Diagram of level 1~3 assembly</span>
      </div>
      <br />
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/engi-img-5.png"
          alt="fr-img"
          width="70%"
        />
      </div>
      <br />
      <a id="link-2" href="#sidelink-2"></a>

      <br />
      <br />
      <hr />
    </div>
  </div>
</div>
{% endblock %}
