{% extends "layout.html" %} {% block title %}Engineering:: {% endblock %} {%
block lead %}Demonstrate engineering success in a part of your project by going
through at least one iteration of the engineering design cycle.{% endblock %} {%
block page_content %}
<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-engineering-banner.png"
      class="banner"
    />
  </div>
</div>
<div class="sec sec-engineering">
  <div class="sidebar-container">
    <a id="link-1" href="#sidelink-1"></a>
    <div class="sidebar-hp sidebar-engineering" id="sidebar-hp">
      <br />
      <br />
      <br />
      <a id="sidelink-1" href="#link-1"
        >Golden Gate Assembly: Prefix/Suffix Block</a
      >
      <a id="sidelink-2" href="#link-2">General Description</a>
      <a id="sidelink-3" href="#link-3">Detailed Description</a>
      <a id="sidelink-4" href="#link-4">The solution</a>
      <a id="sidelink-5" href="#link-5">Key to success</a>
      <a href="#">⇪</a>
    </div>
  </div>

  <div class="container-hp-1" id="containerHp1">
    <div class="hp-text-mask">
      <span>Golden Gate Assembly: Prefix/Suffix Block</span>
    </div>
    <br />
    <div class="hp-text-mask-sub" style="padding: 0 2vw">
      <span
        >For efficient golden gate assembly, our team prepared a gene fragment
        that only contains BsaI sequences and its cleavage site so that the
        prefix and suffix could be flexibly changed and attached to both ends of
        the transcription unit, assembled using SapI. The advantage of this
        method is that it is possible to greatly increase the number of gene
        fragments that can be synthesized using the golden gate assembly at once
        without the need to use various plasmids by ordering a prefix/suffix
        fragment at a low price. According to NEB, it was confirmed that their
        high-fidelity restriction enzyme could synthesize up to 52 gene
        fragments at a time. The first BsaI prefix and the last BsaI suffix have
        EcoRI and BamHI cleavage sites for double digestion and ligation to
        pCambia 2300 vector for agrobacterium-mediated microalgae
        transformation.
      </span>
      <br />
      <br />
      <br />

      <div class="text-mask-engi">
        <span>[Figure 1] BsaI Prefix/Suffix </span>
      </div>
      <br />

      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/engi-img-1.png"
          alt="fr-img"
          width="70%"
        />
        <br />
      </div>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/engi-img-2.png"
          alt="fr-img"
          width="70%"
        />
        <br />
      </div>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/engi-img-3.png"
          alt="fr-img"
          width="70%"
        />
        <br />
      </div>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/engi-img-4.png"
          alt="fr-img"
          width="70%"
        />
      </div>
      <br />
      <br />
      <div class="text-mask-engi">
        <span>[Figure 2] Simple Diagram of level 1~3 assembly</span>
      </div>
      <br />
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/engi-img-5.png"
          alt="fr-img"
          width="70%"
        />
      </div>
      <br />
      <a id="link-2" href="#sidelink-2"></a>

      <br />
      <br />
      <hr />

      <!-- General Description -->
      <!-- General Description -->
      <!-- General Description -->

      <div class="hp-text-mask">
        <span>General Description</span>
      </div>
      <br />
      <div class="hp-text-mask-sub" style="padding: 0 0.2vw">
        <span
          >Our team has designed and tested various biosensors for C. vulgaris,
          using inducible promoters and recombinases. Inducible promoters are
          triggered only at certain conditions, working as biosensors. Our team
          has further developed the inducible promoters into bio-switch by
          utilizing recombinases, thereby creating C. vulgaris strain that can
          constantly express certain genes once the switch is turned on. The
          detailed structure of the biosensors and switches is described below.

          <br />
          <br />

          In this project, two types of inducible promoters, pHsp70A (Kropat et
          al., 1995), pCnAFP (Kim et al., 2020), two types of recombinases,
          phiC31 (Thomson et al., 2010) and Cre (Sauer & Henderson, 1988), and a
          quorum sensing system, pTra(4X)::m35S (You et al., 2006), are tested
          in C. vulgaris. The expression of these bio-bricks has been tested in
          eukaryotic cells but has not been tested specifically for C. vulgaris.
          The purpose of this project is to validate the expression of these
          bio-bricks for C. vulgaris and to utilize them for the development of
          efficient biosensors and switches.

          <br />
          <br />

          Our research and development will not stop at biosensors and
          bio-switches. We designed a bio-switch using an inducible promoter and
          recombinase, and also designed a quorum sensing system for microalgae.
          Using these biosensors together, replacing GFP with toxin or
          antitoxin, our team’s final goal is to develop an effective
          biocontainment system for genetically modified microalgae-bacteria
          consortia that can be used in wastewater treatment systems.
        </span>
        <a id="link-3" href="#sidelink-3"></a>
        <br />
        <br />
        <br />
        <hr />

        <!-- Detailed Description for Each Biosensors -->
        <!-- Detailed Description for Each Biosensors -->
        <!-- Detailed Description for Each Biosensors -->

        <div class="hp-text-mask">
          <span>Detailed Description for Each Biosensors</span>
        </div>
        <br />
        <div class="hp-text-mask-sub" style="padding: 0 2vw">
          <span
            ><div class="engi-under">
              <p><i>Biosensor #1: Inducible Promoters (pHSP70A)</i></p>
            </div>
            In this project, two types of inducible promoters, pHsp70A (Kropat
            et al., 1995), pCnAFP (Kim et al., 2020), two types of recombinases,
            phiC31 (Thomson et al., 2010) and Cre (Sauer & Henderson, 1988), and
            a quorum sensing system, pTra(4X)::m35S (You et al., 2006), are
            tested in C. vulgaris. The expression of these bio-bricks has been
            tested in eukaryotic cells but has not been tested specifically for
            C. vulgaris. The purpose of this project is to validate the
            expression of these bio-bricks for C. vulgaris and to utilize them
            for the development of efficient biosensors and switches.

            <br />
            <br />

            Our research and development will not stop at biosensors and
            bio-switches. We designed a bio-switch using an inducible promoter
            and recombinase, and also designed a quorum sensing system for
            microalgae. Using these biosensors together, replacing GFP with
            toxin or antitoxin, our team’s final goal is to develop an effective
            biocontainment system for genetically modified microalgae-bacteria
            consortia that can be used in wastewater treatment systems.

            <br />
            <br />
            <br />

            <div class="engi-under">
              <p><i>Biosensor #1-2: Cold-inducible Promoter (pCnAFP)</i></p>
            </div>
            pCnAFP is a cold-inducible promoter derived from a polar diatom,
            Chaetoceros neogracile. The transcription initiation of a cold
            inducible promoter is activated when cells are exposed to low
            temperature, 10 °C for 2 hours (Kim et al., 2020).

            <br />
            <br />
            <br />

            <div class="engi-under">
              <p>
                <i
                  >Biosensor #2: Bioswitch: Inducible Promoter - Recombinase
                  Activity</i
                >
              </p>
            </div>
            The bio-switch functions by activating inducible promoters to
            trigger recombinases, which can irreversibly convert the genetic
            sequence. With site-specific recombinases, phiC31 and Cre, precise
            DNA cleavage and ligation are possible. Site-specific recombinases
            efficiently catalyze recombination between specific targeting sites
            to delete, insert, invert, or exchange DNA. Therefore, these groups
            of enzymes are capable of site-specific deletions, excising unwanted
            DNA from the genome (Thomson et al., 2010).

            <br />
            <br />

            The Streptomyces phage PhiC31 can site-specifically integrate DNA
            into the bacterial host by integrating a pair of specific
            recognition sites attP and attB (attachment site Phage/attachment
            site Bacteria) (Thomson et al., 2010).

            <br />
            <br />

            >A 38-kDa Cre protein, from coliphage P1, can promote genetic
            synapsis and DNA recombination in eukaryotic cells. The
            recombination takes place at a specific location known as lox. The
            recombination between two lox sites, similar to that of phiC31
            recombinase, can only be catalyzed by Cre recombinase (Sauer &
            Henderson, 1988).

            <br />
            <br />

            In this regard, the sequence between two attachment sites can be
            irreversibly deleted from the genome. This way, it is possible to
            start or stop the transcription of certain genes when needed, using
            an inducible promoter and recombinase, as shown below.

            <br />
            <br />
            <br />

            <div class="engi-under">
              <p>
                <i
                  >Biosensor #3: Quorum-Sensing Promoter & Protein
                  (Tra(4X)::m35S & VP16 TAD::TraR)
                </i>
              </p>
            </div>

            The quorum-sensing system of bacteria is tested in microalgae. In
            the case of the quorum-sensing activator, TraR, corresponding to the
            quorum-sensing-controlled promoter, pTraR, it is fused with the VP16
            protein to increase the reactivity in eukaryotic cells (You et al.,
            2006). The quorum sensing-controlled promoter is activated only when
            there is AHL produced in the presence of a bacterial signal molecule
            called N-3-oxo-octanoyl homoserine lactone (C8 AHL).

            <br />
            <br />

            In this experiment, the quorum sensing promoter (Tra(4X) :: m35S)
            and the quorum sensing protein (VP16 TAD :: TraR) are tested in C.
            vulgaris because their effects in plant cells were verified. The
            Bacterial quorum sensing promoter and protein were used after slight
            modification in a way such that they could be expressed and operated
            in eukaryotic cells. In the case of Tra Promoter, when TraR protein
            binds to C8AHL, it attaches to the Tra box
            (5′-ATGTGCAGATCTGCACAT-3′) and induces the operation of bacterial
            Tra-quorum-sensing-controlled promoter (pTraR). Therefore, the part
            from pTraR that functions as the binding site for TraR protein are
            combined with the promoter for plant cells. For the plant cell
            promoter, minimal CAMV 35S promoter (m35S) is used.

            <br />
            <br />

            The bacterial quorum sensing protein, TraR, is also modified. C8 AHL
            function as an inducer, and TraR is its receptor/regulator. The
            C-terminal region of the TraR protein is responsible for the
            transcriptional activation and binding to the Tra box of pTraR. For
            its operation in eukaryotic cells, the TraR is C-terminally fused
            with the transactivation domain of Virus Protein 16 (VP16 TAD),
            derived from Herpes simplex virus-1 (You et al., 2006). VP16
            functions for viral gene transcription and replication, promoting
            its expression after infection (Reyes et al., 2022). In this regard,
            fusing VP16 TAD to TraR can increase the reactivity of the quorum
            sensing in a eukaryotic cell.

            <br />
            <br />
            <hr />
          </span>

          <!-- Experiment Design -->
          <!-- Experiment Design -->
          <!-- Experiment Design -->

          <div class="hp-text-mask">
            <span>Experiment Design</span>
          </div>
          <br />
          <div class="hp-text-mask-sub" style="padding: 0 0.2vw">
            <span
              ><div class="engi-under">
                <p><i>Biosensor #1: Heat shock-inducible Promoter</i></p>
              </div>

              Heat shock-inducible promoter activity in C. vulgaris is tested by
              observing GFP expression. The fluorescence intensity was compared
              with control.

              <br />
              <br />

              <li>
                pHsp70A > Kozak > egfp > Tnos
                <ul>
                  a. Incubation in the dark and shifted into the light for 1
                  h.<br />
                  b. Incubation in the light and exposed to heat shock (40°C)
                  for 30 min.
                </ul>
                p35S > Kozak > eGFP > Tnos (Control)
              </li>

              <br />
              <br />
              <br />

              <div class="engi-under">
                <p><i>Biosensor #1-2: Cold-inducible Promoter</i></p>
              </div>

              Cold-inducible promoter activity in C. vulgaris is tested by
              observing GFP expression. The fluorescence intensity was compared
              with control.

              <br />
              <br />

              <li>
                pCnAFP>Kozak>eGFP>Tnos

                <ul>
                  a. Incubation in low temperature (10°C) for 2 hour.
                </ul>
                p35S>Kozak>eGFP>Tnos (Control)
              </li>

              <br />
              <br />
              <br />

              <div class="engi-under">
                <p>
                  <i
                    >Biosensor #2: Bioswitch: Inducible Promoter - Recombinase
                    Activity</i
                  >
                </p>
              </div>

              Recombinase activity, triggered by inducible promoters, is tested
              by observing GFP expression. The fluorescence intensity was
              compared with control.

              <br />

              p35S>attB>mCherry>Tnos : pHSP70A>Kozak>phiC31>Tnos :
              attP>Kozak>eGFP>Tnos
              <br />
              (Heat shock inducible promoter + phiC31 recombinase)

              <br />
              <br />

              <li>
                pCnAFP>Kozak>eGFP>Tnos

                <ul>
                  a. Incubation in low temperature (10°C) for 2 hour.
                </ul>
                p35S>Kozak>eGFP>Tnos (Control)
              </li>

              <br />
              <br />
              <br />

              <div class="engi-under">
                <p><i>Biosensor #1-2: Cold-inducible Promoter</i></p>
              </div>

              Cold-inducible promoter activity in C. vulgaris is tested by
              observing GFP expression. The fluorescence intensity was compared
              with control.

              <br />
              <br />

              <li>
                pCnAFP>Kozak>eGFP>Tnos

                <ul>
                  a. Incubation in low temperature (10°C) for 2 hour.
                </ul>
                p35S>Kozak>eGFP>Tnos (Control)
              </li>

              <br />
              <br />
              <br />
            </span>

            <div class="hp-text-mask">
              <span><br />Summary <br /></span>
            </div>
            <div class="span-sub">
              <span>
                Fundraising through startup is almost only opportunity to
                undergraduates in Korea.<br />
                Don’t be afraid to enroll into business registration.<br />
                Go to a startup support institution of your university. They
                will teach you well.<br />
                Don’t inform how it works to judges. Better to tell your
                estimated profit.<br />
                Naming similar biotech companies really helps.<br />
                Something visual is critical to persuade judges.<br />
                Pay the fee with a legit excuse such as a business promotion.<br />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
