{% extends "layout.html" %} {% block title %}Fundraising:: {% endblock %} {%
block lead %}<!-- Make a useful contribution for future iGEM teams. Use this page to document that contribution. -->
{% endblock %} {% block page_content %}

<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-fundraising-banner.png"
      class="banner"
    />
  </div>
</div>

<div class="sec sec-fd">
  <div class="sidebar-container">
    <div class="sidebar-hp" id="sidebar-hp">
      <br />
      <br />
      <br />
      <a id="sidelink-1" href="#link-1">Summary</a>
      <a id="sidelink-2" href="#link-2">Overview</a>
      <a id="sidelink-3" href="#link-3">The problem</a>
      <a id="sidelink-4" href="#link-4">The solution</a>
      <a id="sidelink-5" href="#link-5">Key to success</a>
      <a href="#">⇪</a>
    </div>
  </div>

  <div class="container-hp-1" id="containerHp1">
    <div class="hp-text-mask">
      <span>Fundraising</span>
    </div>
    <div class="hp-text-mask-sub">
      <span
        >This is one of achievements of our team, since we clearly suggest a
        fundraising model suitable for Korean environment. We wish our trials
        and success could be a lesson and encourage the participation of another
        new teams of Korea.
      </span>
      <a id="link-1" href="#sidelink-1"></a>

      <br />
      <br />
      <hr />
      <div class="hp-text-mask">
        <span><br />Summary <br /></span>
      </div>
      <span>
        Fundraising through startup is almost only opportunity to undergraduates
        in Korea.<br />
        Don’t be afraid to enroll into business registration.<br />
        Go to a startup support institution of your university. They will teach
        you well.<br />
        Don’t inform how it works to judges. Better to tell your estimated
        profit.<br />
        Naming similar biotech companies really helps.<br />
        Something visual is critical to persuade judges.<br />
        Pay the fee with a legit excuse such as a business promotion.<br />
        <br />
        Without doubt, the most challenging work of the iGEM competition is
        collecting funds. Although our supervisor, prof. dr. Jang has supported
        the purchase of required reagents and oligonucleotides, his lab fund was
        only allowed to use for the research purpose. Thus, we had to gather
        fees on our own for the participation and the Jamboree before the
        deadline.
      </span>

      <br />
      <br />
      <br />

      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/fd-img-1.png"
          alt="fr-img"
          width="70%"
        />
        <br />
      </div>
      <br />
      <br />
      <span>
        We first started the funding campaign following tips from the iGEM. We
        contacted Ghent University Global Campus to ask whether it can aid us.
        However, the answer was negative. As its annual budget was already set,
        the campus cannot afford to support us. We also asked to borrow
        facilities for culturing algae, but they refused to help us due to the
        absence of a principal investigator in the campus. Fortunately, the
        campus told us to help by connecting experts or institutions. Indeed,
        they introduced us to prof. dr. ir. Philippe Heynderickx of the
        Environmental technology department. However, the meeting was another
        moment of reaffirmation to restrict use of research funds.
      </span>
      <br />
      <br />
      <hr />
      <br />
      <br />
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/fd-img-2.png"
          alt="fr-img"
          width="70%"
        />
        <br />
        <span style="font-size: small; font-weight: 300"
          >"https://www.ibric.org/myboard/read.php?Board=isori&id=74318"
        </span>
      </div>
      <br />
      <br />
      <span>
        After the failure, we moved our sight to corporate sponsorship. We’ve
        searched how Korean teams have gathered the money. In fact, all Korean
        undergraduate teams are concerned with this issue. They mainly paid
        their fee by themselves. From old posts of previous teams on the
        research community, we realized that local companies do not believe the
        research ability of undergraduates. They have applied vigorously but
        almost all programs rejected their offers. Most research programs have
        limited applicants to graduate students or higher. In the perspective of
        efficiency, we concluded applications to the research programs offered
        by companies are likely to fail without achievement.
      </span>
      <br />
      <br />
      <hr />
      <br />
      <br />
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/fd-img-3.png"
          alt="fr-img"
          width="70%"
        />
        <br />
        <span style="font-size: small; font-weight: 300"
          >"https://tumblbug.com/kuas"
        </span>
      </div>
      <br />
      <br />
      <span>
        In fact, the crowdfunding is hopeless in Korea. Above all, the charity
        culture has not been established here yet. We have investigated the
        former team’s actions, but all of their results were poor, below $50.
        Although the iGEM is encouraged to use its prestige in fundraising of
        each team, this is ineffective as the iGEM competition is still not
        known. We think this poor acknowledgement came from Korean biotech
        status. As interest in white biotechnology just began to rise in the
        2020s, there was no interest in synthetic biology until then.
      </span>
      <br />
      <br />
      <hr />
      <br />
      <br />
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/fd-img-4.png"
          alt="fr-img"
          width="70%"
        />
        <br />
      </div>
      <br />
      <br />
      <span
        >However, only few interests in the industry mean its competitiveness as
        a startup. For these reasons we chose to run into the startup field.
        Fortunately, Incheon National University passionately has offered many
        financial support chances to nourish new pre-startup companies of
        students. We applied to this program and were selected to one of startup
        clubs.</span
      >
      <br />
      <br />
      <br />
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/fd-img-5.png"
          alt="fr-img"
          width="70%"
        />
        <br />
      </div>
      <br />
      <br />
      <span>
        In the program, there was a moment to present our project in front of
        judges. We prepared presentation slides to describe our project in a
        business manner. After presenting our plan, they advised us to emphasize
        economic advantages rather than realization. We realized big differences
        of the mindset between entrepreneurs and researchers. They demanded us
        to consider possibilities and economics of commercialization in relation
        to current policies, markets and potential competitors. After numerous
        meetings and investigation, we understood the startup environment in
        Korea.
      </span>
      <br />
      <br />
      <span
        >For further application to another startup support programs, we need to
        modify our project plot in more business way. Junyoung Chun took a
        responsibility for this task. In addition, the most of programs asked us
        to have a business registration. He, as a CEO, registered it. We felt
        burdened to register into this at first, as we had fear for the unknown.
        However, we found that no cost would be asked before monetization, so we
        did.</span
      >
      <br />
      <br />
      <span>
        Even though we won the support program of Incheon National University,
        its fund is restricted to use to purchase materials, only for the
        product realization. For more freedom in finance use, we decided to
        apply on a larger-scale program, which allows to pay the iGEM
        competition fee from the support. We sought and applied to the
        Pre-startup Package program managed by Hanyang University as it was the
        best offer to our needs. While searching chances, we realized that the
        authority has invested a lot of resources to startups. In contrast to
        the public research program, the startup program even opens to
        undergraduate.
      </span>
      <br />
      <br />
      <hr />
      <br />
      <br />
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/fd-img-6.png"
          alt="fr-img"
          width="70%"
        />
        <br />
      </div>
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/fd-img-7.png"
          alt="fr-img"
          width="70%"
        />
        <br />
      </div>
      <br />
      <br />
      <span>
        In the presentation, judges listened our business plan. A funny thing is
        that nobody has biological knowledge to evaluate our plan. They even had
        a doubt on the common process of biotech industry in terms of
        oligonucleotide synthesis; we told that we will order synthesized DNA
        from other companies for development, and they were worried about
        dependency of DNA synthesis to other company. Instead of suggesting
        possibility of commercialization based on our biological knowledge, we
        instantly changed our tactics to emphasizing secondary characteristics
        of our team in terms of the likelihood of success. We told how much our
        members have fancy history, and informed similar biotech unicorns such
        as Ginkgo Bioworks which applies gene manipulation into their business.
        We think this was happened from unfamiliarity of our biotech offer,
        since other offers were mostly related to IT tech or the engineering.
        <br />
        <br />
        As our tactic probably worked, we were selected to the program. We were
        able to pay the Jamboree fee through this program support. We reported
        the purpose of our payment is for business promotion to worldwide
        potential customers, we were approved to use. In addition, to return our
        previous individual payment for the participation fee, we legally spent
        an allowed amount of money as salaries to team members.
        <br />
        <br />
        However, the application of startup program entails the loss of manpower
        for research. Every program asked applicants to attend their education
        sessions, and these are mandatory. Indeed, Chun kept bound to the
        program so he could not be fully involved into our experiments. In
        addition, we literally needed “Double Think”. Writing Wiki and Judging
        form, we had to work additionally to describe our project in the
        business way to the competition way. Each demanded us to emphasize
        different parts. Therefore, the sufficient scale of team is recommended
        to buffer these disadvantages. In despite of disadvantages, the
        fundraising through startup matches well with the pursuing value of the
        iGEM competition. The iGEM competition strongly asked teams to their
        project applicable to real issues. In reality, the economics always
        engages into issues. The startup fundraising was a chance to concern the
        application into the real industry. Unless a team privatizes its
        achievement from the competition. It is a good option to reflect the
        reality.
      </span>
    </div>
  </div>
</div>

{% endblock %}
