{% extends "layout.html" %} {% block title %}Human Practices:: {% endblock %} {%
block lead %}We ask every team to think deeply and creatively about whether
their project is responsible and good for the world. Consider how the world
affects your work and how your work affects the world.{% endblock %} {% block
page_content %}

<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-hp-banner.png"
      class="banner"
    />
  </div>
</div>

<div class="sec sec-hp">
  <div class="sidebar-container">
    <div class="sidebar-hp" id="sidebar-hp">
      <br />
      <br />
      <br />
      <a id="sidelink-1" href="#link-1">Current Situation</a>
      <a id="sidelink-2" href="#link-2">Basic concept</a>
      <a id="sidelink-3" href="#link-3">Policy</a>
      <a id="sidelink-4" href="#link-4" style="font-size: 20px"
        >Current biocontainment</a
      >
      <a id="sidelink-5" href="#link-5">Market</a>
      <a href="#">⇪</a>
    </div>
  </div>

  <div class="container-hp-1" id="containerHp1">
    <div class="hp-text-mask">
      <span>Intergrated Human Practice</span>
    </div>
    <div class="hp-text-mask-sub">
      <span
        >It is important not to remain our project in the lab, but to bring it
        out to the real world. We’ve investigated how we could apply our project
        concept to the real wastewater treatment infrastructure. Our project, an
        intrinsic biosensor in algae, was developed with the application of gene
        modification to wastewater treatment in mind. Thus, our human practice
        activities aimed to seek the realization of possibilities of the
        genetically modified wastewater treatment. To identify the current
        situation, we first visited four wastewater treatment offices in
        Incheon: Gwaja, Unbok, Gongchon, and Namhyang. Furthermore, for the
        application of our project, we had a meeting with prof. dr. ir. Di Wu,
        who is an expert on wastewater treatment.
      </span>

      <a id="link-1" href="#sidelink-1"></a>

      <br />
      <br />
      <br />
      <hr />

      <div class="hp-text-mask">
        <span>Current Situation</span>
      </div>
      <br />
      <br />
      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/hp-img-e.png"
          alt="hp-img"
          width="70%"
        />
      </div>
      <br />
      <br />
      <span>
        We visited Gwaja office and interviewed the assistant manager, Daeseok
        Park. Gwaja office has the biggest scale of infrastructure in Incheon.
        350kt per day of foul water from Seo-gu district flows into the office.
        As the Bupyung-Juan Industrial park is located nearby, we realized that
        its main concern is dealing with unauthorized discharged wastewater.
        Especially, heavy metal concentration roars from the discharge. Mr. Park
        told us that specific elements of heavy metal in the illegally released
        wastewater are very difficult to remove. For example, the level of zinc
        in the wastewater rises to 15mg/L after the discharge, and this makes
        trouble to culture bacteria, considering bacteria can survive less than
        0.48mg/L of zinc according to EPA (Environmental Protection Agency of
        U.S). In addition, for instance, if the inflow rate is increased over
        the acceptance level by the rainfall, they cannot help but release
        incompletely purified water. In case of disqualification of released
        water, the office must pay a fine, and this occasion has been frequently
        happening. Indeed, of the released water out of fifteen days of February
        2021, only a single day was qualified. There is clearly a need for more
        effective treatment.
      </span>

      <br />
      <br />
      <br />

      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/hp-img-a.png"
          alt="hp-img"
          width="47%"
        />
        <img
          src="https://static.igem.wiki/teams/4310/wiki/hp-img-f.png"
          alt="hp-img"
          width="47%"
        />
      </div>

      <br />

      <span>
        At Unbok office, manager Jongki Lee guided us through the facilities and
        we had an interview. The office has tackled domestic sewage from the
        residential complex near the airport. During the interview, he
        emphasized the burden of the increasing cost of chemical reagents and
        filters. He mentioned that the price is especially burdensome these
        days, as the price of raw materials increased. This could be one of the
        reasons for the application of gene modification in wastewater
        treatment. Gongchon and Namhyang offices have treated the same types of
        wastewater as Unbok office. Three offices had similar characteristics.

        <br />
        <br />
        <br />

        <div class="text-mask-img">
          <img
            src="https://static.igem.wiki/teams/4310/wiki/hp-img-c.png"
            alt="hp-img"
            width="70%"
          />
        </div>

        <br />

        From visits to four wastewater treatment offices, we acknowledged some
        points to improve in wastewater treatment. In all facilities,
        microorganisms are utilized for the degradation of organic matter. This
        process is called activated sludge. It basically functions by
        encouraging the growth of microorganisms, with altering environments for
        dominantly growing different types of microorganisms at each stage. We
        noticed that the distinction among microorganisms is too simple. It has
        been simply distinguished depending on the preferred growth environment,
        such as the aerophile and the anaerobe. We felt a necessity of strain
        selection. If we select specific strains and allow to culture them
        dominantly rather than pre-existing organisms, the performance will be
        improved and that is the starting point of the application of gene
        modification.

        <a id="link-2" href="#sidelink-2"></a>

        <br />
        <br />
        <br />
        <hr />

        <div class="hp-text-mask">
          <span>Basic concept: Microalgae and Consortia </span>
        </div>
        <br />

        In terms of strain selection, we investigated applicable methods to this
        idea. Consortia between algae and bacteria were chosen as a good option.
        According to prior research, better growth of both organisms can be
        expected through signal and nutritional exchange. Especially, microalgae
        is an ideal organism since it efficiently decreases TN, TP, and
        concentration of heavy metals. (Li, 2022) and has a high content of
        neutral lipids, which is a raw material of biofuel. Indeed, we found
        that visited offices have just wasted cellular pellet from the activated
        sludge, or they simply used it as the solid refuse fuel recovered fuel.
        From the perspective of the net cost reduction, recycling the pellet to
        the bio-material is an attractive option. On the other hand, we started
        to doubt why microalgae are not used in the current wastewater treatment
        system.

        <br />
        <br />

        <div class="text-mask-img">
          <img
            src="https://static.igem.wiki/teams/4310/wiki/hp-img-d.png"
            alt="hp-img"
            width="70%"
          />
        </div>

        <br />
        <br />

        We had a meeting with prof. dr. ir. Di Wu, whose research field is
        wastewater engineering. During the meeting, he answered our question:
        Why are microalgae not used in Korea? He said that microalgae are not
        suitable organisms for the removal of organic matters, and it demands
        larger surface area to optimally culture with the sunlight, since it is
        autotroph. He said microalgae is suitable for treating daily wastewater
        rather than domestic and industrial wastewater. In the meeting, we also
        realized that microalgae are inappropriate to apply in Korea since the
        annual temperature difference in Korea is large.

        <br />
        <br />

        Based on the accumulated knowledge from interviews, we started to
        investigate whether gene modification could complement the disadvantages
        of microalgae. First, it is identified that some strains living in
        Antarctica synthesize antifreeze protein, which is applicable to the
        Korean climate. (Gwak, 2014) Prior research also showed heterologous
        gene introduction of mercuric reductase into microalgae (Huang, 2006),
        which supports the removal of heavy metals. In addition, there have been
        many studies to improve biomass yield through gene manipulation. Our
        concept, consortia, is also a good choice to balance the performance
        between the degradation of organic matter and the removal of nitrogen
        and phosphorus. (Li, 2021)

        <a id="link-3" href="#sidelink-3"></a>

        <br />
        <br />
        <br />
        <hr />

        <div class="hp-text-mask">
          <span>Policy</span>
        </div>
        <br />
        <br />

        In fact, the meeting with prof. Di Wu reminded us of an interview at one
        of the wastewater offices. We briefly introduced our plan and the staff
        advised us that convincing the Ministry of Environment is mandatory
        since there is a difference of interests between the field staff and the
        administrator. According to the advice, field staffs have an interest in
        the secondary benefits that are not covered by the standard, such as the
        degradation of microplastics. On the other hand, administrators have
        only an interest to satisfy the standard of purification. Everything
        else not covered does not matter to them. In addition, the current
        policy restricts offices to create additive values from recycling. This
        was why the valuable cell pellets were not recycled. He mentioned that
        it will take a long time to convince administrators of the
        implementation.

        <br />
        <br />
        <br />
        <br />
        The result of gene manipulation is bound to the regulation of the use of
        genetically modified organisms. The policy in Korea demands the risk
        assessment to use Living modified organisms (LMO). LMO is monitored by
        Korea Disease Control and Prevention Agency. In case of the wastewater
        treatment, the authority will demand documents before its
        implementation. (Korea Disease Control and Prevention Agency, 2021)
        <br />
        The required documents are below:
        <br />
        <br />
        <div class="span-sub">
          <span>
            ① Application for permission to install and operate production
            process use facilities (LMO Act Enforcement Regulations, Attachment
            No. 34)<br />
            ② Design drawings or copies of production process use facilities
            <br />③ Documents proving the scope of production process use
            facilities and rights related to their ownership or use <br />④
            Basic design drawings of hazard prevention facilities or copies
            thereof <br />⑤ Equipment, technical capability, manpower and safety
            management regulations required for the use of LMM <br />⑥
            Equipment, technical capability, manpower and safety management
            regulations to prevent human and environmental risks of LMM <br />⑦
            Safety Management Standards for Operation of Production Process
            Utilization Facilities
          </span>
        </div>

        <br />

        After submission, Healthcare & Safety committee in the agency will
        evaluate and announce the result in 60 days by issuing the permit for
        installation and operation of production process use facilities.

        <a id="link-4" href="#sidelink-4"></a>

        <br />
        <br />
        <br />
        <br />
        <hr />

        <div class="hp-text-mask">
          <span>Current biocontainment</span>
        </div>
        <br />

        In terms of disinfection process, wastewater treatment facilities
        already had some process for biosafety. They have mainly used
        chlorination or UV-radiation to purified water. We studied whether
        current bio-containment system still can be used for microalgae. In
        fact, microalgae has insensitive to chlorination and UV-radiation.
        According to research, while 99% of bacteria in the sludge will be
        killed with less 10kJ/m2 of UV-C radiation for seconds (Roeber, 1975),
        over 10kJ/m2 for minutes is reported to be enough to function for
        microalgae (Pfendler, 2018). In case of chlorination, it is revealed
        that microalgae accelerated to grow while bacteria is inhibited to grow
        at low free chlorine concentration. (Hu, 2020) From prior research, we
        concluded that more secure bio-containment system or sensitive biosensor
        is needed to application of gene manipulation into wastewater treatment
        in the wastewater treatment offices.

        <a id="link-5" href="#sidelink-5"></a>
        <br />
        <br />
        <br />
        <br />
        <hr />

        <div class="hp-text-mask">
          <span>Market</span>
        </div>
        <br />

        <!-- <div class="text-mask-img-2">
          <img
            src="https://static.igem.wiki/teams/4310/wiki/hp-img-2.png"
            alt="hp-img"
            width="50%"
          />
          <span class="text-mask-span-2"
            >To solve the water pollution and sewage purification. We like to
            present an microalgae-bacteria consortia based biocontainment system
            and bioreactor that can automatically collect microalgae for
            additional products(bio fuel, bio-plastic, etc). <br />With our
            perfect biocontainment system. It will break the limit using Genetic
            modified microalgae foray into sewage treatment and renewable energy
            source.
          </span>
        </div> -->

        <div class="text-mask-img-3">
          <img
            src="https://static.igem.wiki/teams/4310/wiki/hp-img-3.png"
            alt="hp-img"
            width="50%"
          />
          <span class="text-mask-span-3">
            In the case of Gyeonggi-do Research Institute of Health and
            Environment, which developed a wastewater purification system by
            raising microalgae as a single unit without genetic manipulation, it
            was able to reduce 50% of the electricity cost used in the existing
            sewage and wastewater system, and received love calls from many
            companies.
          </span>
        </div>

        <br />
        <br />

        Economic value is the best drive to implement an idea. The size of the
        domestic water treatment market increased by 3% for 5 years from 91
        billion dollars to 106 billion dollars. One of the most grown markets,
        sections of the infrastructure, and the process have shown great
        improvement from 30 billion dollars to 38 billion dollars. Furthermore,
        the sewage market constantly raises 5% of the investment to develop the
        efficiency of sewage purification.

        <br />
        <br />

        In the case of Gyeonggi-do Research Institute of Health and Environment,
        it developed a wastewater purification system with microalgae. After the
        introduction of the system, it can reduce 50% of the electricity cost
        used in the existing sewage and wastewater system, and this system
        became known to its potential customers. Furthermore, since ESG
        management draws attention and the regulation for the environment
        becomes stricter, there is a clear demand for eco-friendly sewage and
        wastewater treatment process systems.

        <br />
        <br />
        <br />
        <hr />

        <div class="hp-text-mask">
          <span>References</span>
        </div>
        <br />
        <br />
        <div class="reference">
          <span
            >Gwak, Y., Jung, W., Lee, Y., Kim, J. S., Kim, C. G., Ju, J. H.,
            Song, C., Hyun, J. K., & Jin, E. (2014). An intracellular antifreeze
            protein from an Antarctic microalga that responds to various
            environmental stresses. FASEB journal : official publication of the
            Federation of American Societies for Experimental Biology, 28(11),
            4924–4935. https://doi.org/10.1096/fj.14-256388<br /><br />
            Hu, X., Meneses, Y. E., & Aly Hassan, A. (2020). Integration of
            sodium hypochlorite pretreatment with co-immobilized
            microalgae/bacteria treatment of meat processing wastewater.
            Bioresource Technology, 304, 122953.
            https://doi.org/10.1016/j.biortech.2020.122953 <br /><br />
            Huang, CC., Chen, MW., Hsieh, JL. et al. Expression of mercuric
            reductase from Bacillus megaterium MB1 in eukaryotic
            microalga Chlorella sp. DT: an approach for mercury
            phytoremediation. Appl Microbiol Biotechnol 72, 197–205 (2006).
            https://doi.org/10.1007/s00253-005-0250-0<br /><br />
            Li, D., Liu, R., Cui, X., He, M., Zheng, S., Du, W., Gao, M., &
            Wang, C. (2021). Co-culture of bacteria and microalgae for treatment
            of high concentration biogas slurry. Journal of Water Process
            Engineering, 41, 102014. https://doi.org/10.1016/j.jwpe.2021.102014
            <br /><br />
            Li, D., Liu, S., Yang, Y., Guo, L., Lyu, B., Yang, R., Zhang, X.,
            Wang, Y., Yang, F., & Chen, Q. (2022). Metal-algae interaction
            contributes to the water environment heterogeneity in an Urbanized
            River. Ecological Indicators, 139, 108875.
            https://doi.org/10.1016/j.ecolind.2022.108875 <br /><br />
            Korea Disease Control and Prevention Agency. (2021, April 16).
            Notification and permission of installation and operation of
            facilities using LMM production process: National safety management
            of genetically modified organisms: Biosafety: Policy information.
            Korea Disease Control and Prevention Agency. Retrieved October 12,
            2022, from https://www.kdca.go.kr/contents.es?mid=a20302090700
            <br /><br />
            Park, J. (2021, February 25). 가좌하수처리장 방류수보름간 '합격'은
            하루 뿐. 인천일보. Retrieved October 12, 2022, from
            http://www.incheonilbo.com/news/articleView.html?idxno=1081479
            <br /><br />
            Pfendler, S., Alaoui-Sossé, B., Alaoui-Sossé, L., Bousta, F., &
            Aleya, L. (2018). Effects of UV-C radiation on Chlorella vulgaris, a
            biofilm-forming alga. Journal of Applied Phycology, 30(3),
            1607–1616. https://doi.org/10.1007/s10811-017-1380-3 <br /><br />
            Roeber J. A. (1975). Ultraviolet disinfection of activated sludge
            effluent discharging to shellfish waters. Cincinnati, Ohio
            :Municipal Environmental Research Laboratory, Office of Research and
            Development, U. S. Environmental Protection Agency,</span
          >
        </div>
      </span>
    </div>
  </div>
</div>

{% endblock %}
