{% extends "layout.html" %} {% block title %}Human Practices:: {% endblock %} {%
block lead %}We ask every team to think deeply and creatively about whether
their project is responsible and good for the world. Consider how the world
affects your work and how your work affects the world.{% endblock %} {% block
page_content %}

<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-hp-banner.png"
      class="banner"
    />
  </div>
</div>

<div class="sec sec-hp">
  <div class="sidebar-hp" id="sidebar-hp">
    <a href="#">The Quick Pitch</a>
    <a href="#">The Problem</a>
    <a href="#">The Solution</a>
    <a href="#">Highlights</a>
    <a href="#">Key to Success</a>
    <a href="#">Financial Highlights</a>
    <a href="#">⇪</a>
  </div>
  <div class="container-hp-1">
    <div class="hp-text-mask">
      <span>Overview: The Quick Pitch </span>
    </div>
    <div class="hp-text-mask-sub">
      <span
        >To solve the water pollution and sewage purification. We like to
        present an microalgae-bacteria consortia based biocontainment system and
        bioreactor that can automatically collect microalgae for additional
        products(bio fuel, bio-plastic...) With our perfect biocontainment
        system. It will break the limit using Genetic modified microalgae foray
        into sewage treatment and renewable energy source.
      </span>
    </div>
  </div>
</div>
{% endblock %}
