{% extends "layout.html" %} {% block title %}Human Practices:: {% endblock %} {%
block lead %}We ask every team to think deeply and creatively about whether
their project is responsible and good for the world. Consider how the world
affects your work and how your work affects the world.{% endblock %} {% block
page_content %}

<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-hp-banner.png"
      class="banner"
    />
  </div>
</div>

<div class="sec sec-hp">
  <div class="sidebar-hp" id="sidebar-hp">
    <a id="sidelink-1" href="#link-1">Integrated</a>
    <a id="sidelink-2" href="#sidelink-2">Fundraising</a>
    <a id="sidelink-3" href="#sidelink-3">Education</a>
    <a href="#">⇪</a>
  </div>

  <a id="link-1" href="#sidelink-1"></a>

  <div id="containerHp1" class="container-hp-1">
    <div class="hp-text-mask">
      <span>Intergrated </span>
    </div>
    <div class="hp-text-mask-sub">
      <span
        >It is important not to remain our project in a lab, but to bring out to
        the real world. We’ve investigated how we can apply our project concept
        into the real wastewater treatment infrastructure. Our project, an
        intrinsic biosensor in algae, was developed with the application of gene
        modification into the wastewater treatment in mind. Thus, our human
        practice activities aimed to seek realization possibilities of the
        genetically modified wastewater treatment. To identify the current
        situation, we first visited four wastewater treatment offices in
        Incheon: Gwaja, Unbok, Gongchon, and Namhyang. In addition, we had a
        meeting with prof. dr. ir Di Wu, who is a expert on the wastewater
        treatment, for application of our project.
      </span>
      <br />
      <br />
      <span>
        We visited Gwaja office and interviewed with assistant manager, Daeseok
        Park. Gwaja office has the biggest scale of infrastructure in Incheon.
        350kt per day of foul water from Seo-gu district flows into the office.
        As the Bupyung-Juan Industrial park is located nearby, we realized that
        its main concern is dealing with unauthorized discharged wastewater.
        Park told us that specific elements of heavy metal in the wastewater are
        very difficult to remove through chemical reagent. In addition, if the
        inflow rate is increased over the acceptance level by the rainfall for
        instance, they cannot help but releasing incompletely purified water. In
        case of disqualification of released water, the office has to pay a
        fine, and this occasion has been frequently happened. Indeed, the
        released water had been only qualified on one day during 15 days of
        February, 2021. There is clearly a need for the more effective
        treatment.
      </span>
      <br />
      <br />
      <span>
        At Unbok office, manager Jongki Lee guided us facilities and had
        interview. The office has tackled the domestic sewage from the
        residential complex near the airport. In the interview, he emphasized
        the burden from the increasing cost of chemical reagents and filter. He
        said that the price is especially burdensome in these days, as the raw
        material becomes expensive. This could be a reason of the application of
        gene modification in the wastewater treatment.
      </span>
    </div>
    <img
      src="https://static.igem.wiki/teams/4310/wiki/hp-p1.png"
      alt="hp-img"
    />
  </div>
</div>

{% endblock %}
