{% extends "layout.html" %} {% block title %}{% endblock %} {% block lead %}<b
  >Welcome to UIncheon Wiki!</b
>{% endblock %} {% block page_content %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>ALGENE: UIncheon</title>
  </head>
  <body>
    <section class="visual">
        <iframe
          title="Beckman Coulter - Use Tips Wisely"
          width="100%"
          height="100%"
          src="https://video.igem.org/videos/embed/56fa7f19-f240-438f-8ef7-6d7f50c0aef7?autoplay=1&loop=1&autopause=0&muted=1&controls=0"
          frameborder="0"
          allowfullscreen
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowtrasparent="true"
          controls="0"
          display="block"
        ></iframe>
      </section>
      <div class="video__cover"></div>
      <div class="container">
        <div class="title-holder">
          <div class="txt-mask">
            <span>Suggest</span>
          </div>
          <div class="txt-mask">
            <span>Wastewater</span>
          </div>
          <div class="txt-mask">
            <span>Treatment</span>
          </div>
        </div>
      </div>
    </header>

    <div class="uibadges" id="uibadges">
      <div class="uibadge">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/badge-1.png"
          alt="Badge"
          width="80px"
        />
      </div>
    </div>
    
    <section class="sec-1">
        <div class="container-1">
          <div class="column">
            <div class="col-1">
              <div class="text-mask">
                <span>Beautiful</span>
              </div>
              <div class="text-mask">
                <span>Marincity</span>
              </div>
              <div class="text-mask">
                <span>Incehon</span>
              </div>
            </div>
            <div class="col-2">
              <div class="text-mask">
                <span><b>Sewage</b> that has not been completely</span>
              </div>
              <div class="text-mask">
                <span>decontaminated is being discharged.</span>
              </div>
            </div>
            <img
            src="https://static.igem.wiki/teams/4310/wiki/sec1-bg.png"
            alt="Icon"
            class="sec1-bg"
            width="600px"
            />
          </div>
        </div>
    
    </section>
    {% endblock %}
  </body>
</html>
