{% extends "layout.html" %} {% block title %}{% endblock %} {% block lead %}<b
  >Welcome to UIncheon Wiki!</b
>{% endblock %} {% block page_content %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta name="viewport" content="width=2100, user-scalable=no" />
    <meta charset="UTF-8" />
    <title>ALGENE: UIncheon</title>
  </head>
  <body>
    <div id="loading">
      Spinner 1
      <div class="spinner"></div>
    </div>
    <div id="loading2">spinner 2</div>
    <section class="sec">
      <header>
        <div class="video__area">
          <iframe
            class="video"
            id="video"
            title="UIncheon_Promotional_Video"
            src="https://video.igem.org/videos/embed/675c0bc7-af01-48a5-ae22-60968c3bd1b9?autoplay=1&loop=1&autopause=0&muted=1&controls=0"
            frameborder="0"
            allowfullscreen
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowtrasparent="true"
            controls="0"
            sandbox="allow-same-origin allow-scripts allow-popups"
            width="100vw"
          ></iframe>
        </div>
        <div class="video__cover"></div>
        <div class="container">
          <div class="title-holder">
            <div class="txt-mask">
              <span>Set the stage for</span>
            </div>
            <div class="txt-mask">
              <span>The new wastewater</span>
            </div>
            <div class="txt-mask">
              <span>Treatment with</span>
            </div>
            <div class="txt-mask">
              <span>Synthetic biology</span>
            </div>
          </div>
        </div>
      </header>
    </section>

    <!-- <div class="uibadges" id="uibadges">
      <a
        class="uibadge"
        href="https://instagram.com/igem_uincheon/"
        target="_blank"
      >
        <img
          src="https://static.igem.wiki/teams/4310/wiki/badge-1.png"
          alt="Badge"
          width="80px"
        />
      </a>
    </div> -->

    <section class="sec sec-1 content" id="sec-1">
      <div class="containers container-1">
        <div class="column column-1">
          <div class="col-1 col-1-1">
            <div class="text-mask">
              <span>Dynamic</span>
            </div>
            <div class="text-mask">
              <span>Marine city</span>
            </div>
            <div class="text-mask">
              <span>Incheon</span>
            </div>
          </div>
          <div class="col-1 col-1-2">
            <div class="text-mask">
              <span
                ><b>Incheon</b> is the second largest city in Korea with a large
                population</span
              >
            </div>
            <div class="text-mask">
              <span
                >and many industries are active as a port city.
                <br />
                <br />

                In order to maintain this dynamic, supporting infrastructure is
                needed. As one of them, a large amount of wastewater has been
                created and is being purified in treatment facilities.
              </span>
            </div>
          </div>
          <div class="sec-1-video__area">
            <iframe
              class="video"
              id="video"
              title="UIncheon_Promotional_Video"
              src="https://video.igem.org/videos/embed/e0260ab1-7e3b-4dfe-92fe-9a774cc8e229?autoplay=1&loop=1&autopause=0&muted=1&controls=0"
              frameborder="0"
              allowfullscreen
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowtrasparent="true"
              controls="0"
              sandbox="allow-same-origin allow-scripts allow-popups"
              width="100%"
            ></iframe>
          </div>
        </div>
      </div>
    </section>

    <section class="sec sec-2 content">
      <div class="containers container-2">
        <div class="column column-1" id="sec-2-img">
          <img
            src="https://static.igem.wiki/teams/4310/wiki/container-2-img.jpg"
            alt="sec-2-column2-img"
            width="70%"
            class="sec-2-column2-img"
          />
        </div>
        <div class="column column-2">
          <div class="col-2 col-2-1" id="col-2">
            <div class="text-mask">
              <span>What</span>
            </div>
            <div class="text-mask">
              <span>Is the</span>
            </div>
            <div class="text-mask">
              <span>Matter</span>
            </div>
          </div>
          <br />
          <div class="col-2 col-2-2">
            <div class="text-mask">
              <span>
                <b>We</b> actually visited four wastewater treatment facilities
                in Incheon, and found two problems here. One is the difficulty
                of treating heavy metals from factory wastewater, and the other
                is the burden of processing costs.
              </span>
            </div>
            <br />
            <div class="text-mask">
              <span
                ><b>We</b> will present a solution through synthetic biology.
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sec sec-3 content">
      <div class="containers container-3">
        <div class="column column-3" id="col-3-txt"></div>
        <div class="column column-4">
          <div class="box3-1">
            <span class="text-mask">Sewage Sludge </span>
            <br />
            <span class="text-mask" style="font-size: 1.3vw"
              >(per day in Incheon)
            </span>
            <br />
            <span class="text-mask count countNum1" id="countNum1">0</span>
            <span class="count-1" style="font-size: 2.333vw">ton</span>
            <span class="count-1" style="font-size: 4vw">↑</span>
            <span class="text-mask-source"
              >"https://www.incheon.go.kr/data/DATA010201/view?docId=15055855"</span
            >
          </div>
        </div>
        <div class="column column-5">
          <div class="box3-2">
            <span class="text-mask">Private Consignment Cost</span>
            <br />
            <span class="text-mask" style="font-size: 1.3vw"
              >($100 per ton in Korea)
            </span>
            <br />
            <span class="text-mask count countNum2" id="countNum2">0</span>

            <span class="count-2" style="font-size: 2.333vw">$</span>
            <span class="count-2" style="font-size: 4vw">↑</span><br />
            <span class="text-mask-source"
              >"https://www.incheon.go.kr/data/DATA010201/view?docId=15055855"</span
            >
          </div>
        </div>
      </div>
    </section>

    <section class="sec sec-4 sec-4-content">
      <div class="container-4">
        <div class="row-1" id="row-1">
          <div class="text-mask">
            <span>Current</span>
          </div>
          <div class="text-mask">
            <span>Studies</span>
          </div>
          <div class="row-1-sub" id="row-1-sub">
            <div class="text-mask-sub">
              <span>
                <b>First</b>, We found that microalgae are attractive creatures
                for wastewater treatment.<br />
                In particular, a method of microalgae with microorganisms is
                being actively studied.
              </span>
            </div>
            <div class="text-mask-sub">
              <span>
                In addition, prior research is conducted to treat substances
                that could not be treated previously by introducing foreign
                genes into microalgae.</span
              >
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="container-4-2">
        <div class="row-2" id="row-2">
          <div class="text-mask">
            <span>Why Microalgae?</span>
          </div>
        </div>
      </div>
      <div class="container-4-3">
        <div class="col-4-1" id="col-4-1">
          <div class="text-mask">
            <span>미세조류의 단점</span>
          </div>
        </div>
        <div class="col-4-2" id="col-4-2">
          <div class="text-mask">
            <span>유전자 조작을 통한 극복</span>
          </div>
        </div>
      </div>
    </section>

    <section class="sec sec-5 content">
      <div class="container__5">
        <div class="text-mask">
          <span>Requirement for the application: <br /><i>Biosafety</i></span>
        </div>
      </div>
      <br />
      <div class="container__6">
        <div class="text-mask">
          <span class="blank">⎯⎯</span>
        </div>
      </div>
      <div class="mini-container" id="mini_container">
        <div class="text-mask-sub">
          <span>
            Releasing purified water after purification involves the risk of
            leaking genetically modified organisms to external environment.<br />
            That problem can be resolved enough with existing treatment method,
            but microalgae are less sensitive than other microorganisms.<br />
            They don't be treated clearly in general treatment systems.<br />
            Thus, to ensure biosafety, we have to monitor the leak of
            genetically edited microalgae using a sensistive sensor.<br />
            <b>An intrinsic biosensor of microalgae</b>, that's what we're
            trying to make.</span
          >
        </div>
      </div>
    </section>

    <section class="sec sec-6 content">
      <div class="video__area">
        <iframe
          class="video"
          id="video"
          title="UIncheon_Promotional_Video"
          src="https://video.igem.org/videos/embed/4f4158d3-b28a-4ebf-b3b5-b434b39947be?autoplay=1&loop=1&autopause=0&muted=1&controls=0"
          frameborder="0"
          allowfullscreen
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowtrasparent="true"
          controls="0"
          sandbox="allow-same-origin allow-scripts allow-popups"
          width="100vw"
        ></iframe>
      </div>
    </section>

    <a href="#" class="top-btn"><span> 🔝 </span></a>
    {% endblock %}
  </body>
</html>
