{% extends "layout.html" %} {% block title %}{% endblock %} {% block lead %}<b
  >Welcome to UIncheon Wiki!</b
>{% endblock %} {% block page_content %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>ALGENE: UIncheon</title>
  </head>
  <body>
    <header>
      <div class="video__area">
        <iframe
          class="video"
          id="video"
          title="Beckman Coulter - Use Tips Wisely"
          src="https://video.igem.org/videos/embed/56fa7f19-f240-438f-8ef7-6d7f50c0aef7?autoplay=1&loop=1&autopause=0&muted=1&controls=0"
          frameborder="0"
          allowfullscreen
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowtrasparent="true"
          controls="0"
          width="100vw"
        ></iframe>
      </div>
      <div class="video__cover"></div>
      <div class="container">
        <div class="title-holder">
          <div class="txt-mask">
            <span>Suggest</span>
          </div>
          <div class="txt-mask">
            <span>Wastewater</span>
          </div>
          <div class="txt-mask">
            <span>Treatment</span>
          </div>
        </div>
      </div>
    </header>

    <div class="uibadges" id="uibadges">
      <a
        class="uibadge"
        href="https://instagram.com/igem_uincheon/"
        target="_blank"
      >
        <img
          src="https://static.igem.wiki/teams/4310/wiki/badge-1.png"
          alt="Badge"
          width="80px"
        />
      </a>
    </div>

    <section class="sec sec-1 content">
      <div class="containers container-1">
        <div class="column-1">
          <div class="col-1 col-1-1">
            <div class="text-mask">
              <span>Beautiful</span>
            </div>
            <div class="text-mask">
              <span>Marincity</span>
            </div>
            <div class="text-mask">
              <span>Incehon</span>
            </div>
          </div>
          <div class="col-1 col-1-2">
            <div class="text-mask">
              <span><b>Sewage</b> that has not been completely</span>
            </div>
            <div class="text-mask">
              <span
                >decontaminated is being discharged.
                <br />
                <br />

                <b>Large</b> amounts of heavy metals and minerals are flowing
                in, and nitrogen, phosphorus, and organic matter must sometimes
                be treated above the permissible level.
              </span>
            </div>
          </div>
          <div class="holder">
            <img
              src="https://static.igem.wiki/teams/4310/wiki/sec1-bg.png"
              alt="Icon"
              class="sec1-bg"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="sec sec-2 content">
      <div class="containers container-2">
        <div class="column-2">
          <div class="text-mask">
            <span></span>
          </div>
        </div>
      </div>
    </section>

    <section class="sticky-container">
      <div class="container__3">
        <div class="row-1">
          <h1>Card 1</h1>
        </div>
        <div class="row-1">
          <h1>Card 2</h1>
        </div>
        <div class="row-1">
          <h1>Card 3</h1>
        </div>
        <div class="row-1">
          <h1>Card 4</h1>
        </div>
      </div>
    </section>

    {% endblock %}
  </body>
</html>
