{% extends "layout.html" %} {% block title %}Notebook{% endblock %} {% block
lead %}Document the dates you worked on your project. This should be a detailed
account of the work done each day for your project.{% endblock %} {% block
page_content %}
<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-notebook-banner.png"
      class="banner"
    />
  </div>
</div>

<div class="sec sec-nb">
  <div class="sidebar-container">
    <div class="sidebar-hp sidebar-nb" id="sidebar-hp">
      <br />
      <br />
      <br />
      <a id="sidelink-1" href="#link-1">Summary</a>
      <a id="sidelink-2" href="#link-2">Funding Campagin</a>
      <a id="sidelink-3" href="#link-3">Startup field</a>
      <a id="sidelink-4" href="#link-4">The solution</a>
      <a id="sidelink-5" href="#link-5">Key to success</a>
      <a href="#">⇪</a>
    </div>
  </div>

  <div class="container-hp-1" id="containerhp1">
    <div class="hp-text-mask">Detailed records of all experiments</div>
    <br />
    <div class="hp-text-mask-sub">
      <li>
        <span style="font-size: 2vw"> Week 1 - 2 </span>
        <ul>
          Gene Fragments & PCR Primer Dilution
        </ul>
        <br />
        <span style="font-size: 2vw"> Week 3 - 4 </span>

        <ul>
          TA Cloning of gene fragment for amplification<br />
          BsaI Prefix/Suffix complimentary ssDNA annealing
        </ul>
        <br />
        <span style="font-size: 2vw"> Week 4 - 10 </span>
        <ul>
          <span style="font-size: 2vw"></span>
          Level 1 SapI Golden Gate Assembly
        </ul>
        <br />
        <span style="font-size: 2vw"> Week 8 - 11 </span>
        <ul>
          Level 2 BsaI Golden Gate Assembly
        </ul>
        <br />
        <span style="font-size: 2vw"> Week 11 - 12 </span>
        <ul>
          Level 3 EcoRI/BamHI Double Digestion & pCambia2300 Ligation
        </ul>
        <br />
        <span style="font-size: 2vw"> Week 12 - </span>
        <ul>
          Microalgae Transformation
        </ul>
        <br />
      </li>
      <br />

      <a
        href="https://drive.google.com/file/d/17VYcn-_aA0dk_YvHtTCU2l2XaRe171CA/view?usp=sharing"
        style="font-size: 1.2vw"
        >Link for Detailed Lab Note (in Korean)</a
      >

      <a id="link-1" href="#sidelink-1"></a>
      <br />
      <hr />
      <div class="nb-text-mask">
        <span
          ><br />
          Summary <br
        /></span>
      </div>
      <!-- <div class="span-sub">
        <span>
        </span>
        <span>
      </div> -->

      <br />
      <br />
      <hr />
      <br />
      <span style="font-size: 2.9vw">Detailed records of experiments</span>

      <br />
      <br />

      <div class="text-mask-img">
        <img
          src="https://static.igem.wiki/teams/4310/wiki/nb-img-1.png"
          alt="nb-img"
          width="100%"
        />
        <br />
      </div>
    </div>
  </div>
</div>
{% endblock %}
