{% extends "layout.html" %} {% block title %}Part Collection:: {% endblock %} {%
block lead %}This page contains information about the parts created by the
team.{% endblock %}{% block page_content %}

<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-part-coll-banner.png"
      class="banner"
    />
  </div>
</div>

<div class="sec sec-partcoll">
  <div class="sidebar-container">
    <div class="sidebar-hp sidebar-partcoll" id="sidebar-hp">
      <br />
      <br />
      <br />
      <a id="sidelink-1" href="#link-1"
        >Golden Gate Assembly: Prefix/Suffix Block</a
      >
      <a id="sidelink-2" href="#link-2">General Description</a>
      <a id="sidelink-3" href="#link-3">Detailed Description</a>
      <a id="sidelink-4" href="#link-4">Experiment Design</a>
      <a id="sidelink-5" href="#link-5">Experiment Protocol</a>
      <a id="sidelink-6" href="#link-6">References</a>

      <a href="#">⇪</a>
    </div>
  </div>
  <div class="container-hp-1" id="containerHp1">
    <div class="hp-text-mask">
      <span>Part Collection</span>
    </div>

    <br />

    <div class="hp-text-mask-sub" style="padding: 0 2vw">
      <br />
      <span>
        <br />

        We wished to develop a system that allows the microalgae grow on the
        filter developed in the Wet Lab to grow and manage smoothly. The system
        replaces filters(micro algae grows on) at regular intervals, circulates
        wastewater, maintains proper pH and temperature, and controls LED lights
        for growth.

        <br />
        <br />
        <br />
        <hr />
        <br />
      </span>
    </div>

    <div class="hp-text-mask">
      <span>Basic Parts</span>
    </div>

    <div class="hp-text-mask-sub reactor-sub" style="padding: 2vw 2vw">
      <span>
        ∙ <b>New</b> Plant Quorum-Sensing inducible promoter
        http://parts.igem.org/Part:BBa_K4310000 <br />
        ∙ <b>New</b> VP16::TraR http://parts.igem.org/Part:BBa_K4310001<br />
        ∙ Codon Optimized phiC-31 recombinase
        http://parts.igem.org/Part:BBa_K4310002<br />
        ∙ Kozak sequence for Chlorella Vulgaris
        http://parts.igem.org/Part:BBa_K4310003<br />
        ∙ Cold inducible promoter http://parts.igem.org/Part:BBa_K4310004<br />
        ∙ pCvHSP70A http://parts.igem.org/Part:BBa_K4310005<br />
        ∙ egfp http://parts.igem.org/Part:BBa_K4310006<br />
        ∙ mCherry http://parts.igem.org/Part:BBa_K4310007<br />
        ∙ Tnos http://parts.igem.org/Part:BBa_K4310008<br />
        ∙ Cre recombinase http://parts.igem.org/Part:BBa_K4310009<br />
        <br />
        <br />
      </span>
    </div>

    <br />
    <br />
    <br />
    <hr />

    <div class="hp-text-mask">
      <span>Composite Parts</span>
    </div>
    <div class="hp-text-mask-sub reactor-sub" style="padding: 2vw 2vw">
      <span>
        ∙ constitutively expressed eGFP http://parts.igem.org/Part:BBa_K4310010
        <br />
        ∙ constitutively expressed mCherry
        http://parts.igem.org/Part:BBa_K4310011<br />
        ∙ enhanced expression of eGFP by heat shock
        http://parts.igem.org/Part:BBa_K4310012<br />
        ∙ enhanced expression of eGFP by cold stress
        http://parts.igem.org/Part:BBa_K4310013<br />
        ∙ quorum-sensing induced expression of eGFP in plant (1)
        http://parts.igem.org/Part:BBa_K4310014
        <br />
        ∙ quorum-sensing induced expression of eGFP in plant (2)
        http://parts.igem.org/Part:BBa_K4310015
        <br />
        ∙ Heat shock inducible promoter + phiC31 recombinase
        http://parts.igem.org/Part:BBa_K4310016
        <br />
        ∙ Cold inducible promoter + phiC31 recombinase
        http://parts.igem.org/Part:BBa_K4310017<br />
        ∙ Heat shock inducible promoter + Cre recombinase
        http://parts.igem.org/Part:BBa_K4310018<br />
        ∙ Cold inducible promoter + Cre recombinase
        http://parts.igem.org/Part:BBa_K4310019<br />
        <br />
        <br />
      </span>
    </div>
  </div>

  <br />
  <br />
  <br />
  <hr />
</div>
{% endblock %}
