{% extends "layout.html" %} {% block title %}{% endblock %} {% block lead %}On
this page you can introduce your team members, instructors, and advisors.{%
endblock %} {% block page_content %}

<div class="team_sec1">
  <div class="team_col0">
    <h1>Team Members</h1>
  </div>
</div>
<div class="team_sec2">
  <div class="team_col team_col1">
    <div class="members_photo">
      <img
        src="https://static.igem.wiki/teams/4310/wiki/team-yht.png"
        class="team-yht-img"
      />
    </div>
    <div class="members_intro">
      <div class="members_att">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Attribution
        </span>
        <span> Analysis / Hardware / Visualization / Writing </span>
        <br />
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Depart
        </span>
        <span> DryLab / INU Electronic of Enginnering</span>
      </div>
      <div class="members_dep">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
        </span>
        <span>
          "I saw you dancing in a crowded room You look so happy when I'm not
          with you But then you saw me, caught you by surprise A single teardrop
          falling from your eye "
        </span>
      </div>
    </div>
  </div>
  <hr />

  <div class="team_col team_col2"></div>
  <div class="team_col team_col3"></div>
  <div class="team_col team_col4"></div>
  <div class="team_col team_col5"></div>
  <div class="team_col team_col6"></div>
  <div class="team_col team_col7"></div>
  <div class="team_col team_col8"></div>
  <div class="team_col team_col9"></div>
  <div class="team_col team_col10"></div>
  <div class="team_col team_col11"></div>
  <div class="team_col team_col12"></div>
</div>

{% endblock %}
