{% extends "layout.html" %} {% block title %}Team Members:: {% endblock %} {%
block lead %}On this page you can introduce your team members, instructors, and
advisors.{% endblock %} {% block page_content %}

<div class="team_sec1">
  <div class="team_col0">
    <img
      src="https://static.igem.wiki/teams/4310/wiki/team-members-banner.png"
      class="banner"
    />
  </div>
</div>

<div class="team_sec2">
  <!-- TEAM_COL 1 -->
  <!-- TEAM_COL 1 -->
  <!-- TEAM_COL 1 -->

  <div class="team_col team_col_odd">
    <div class="members_photo">
      <img
        src="https://static.igem.wiki/teams/4310/wiki/team-osc.png"
        class="team-osc-img"
      />
      <span> <b>Seungchan Oh</b> </span>
    </div>
    <div class="members_intro">
      <div class="members_att">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Attribution
        </span>
        <span>
          Analysis, Conceptualization, Investigation, Lab maintenance,
          Fundraising, Public engagement, Background research, Project
          Administration, Writing, and Safety.
        </span>
        <br />
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Depart
        </span>
        <span>
          <b>Team Leader</b> / Molecular Biotechnology, Ghent University
        </span>
      </div>
      <div class="members_dep">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
        </span>
        <span>
          "Hello, I’m a founder and a team leader of this team. Since high
          school, participating in this competition has been a goal of my
          bachelor life. My dream started to realize with a proposal letter to
          prof. Jang, and then this epic journey begun. Of course, not always it
          has been excited. At one time, there was a time when only four members
          were left in the team. However, we have solved problems one by one and
          we are now about to reach the end. Without teammates’ contribution,
          this would be impossible. I really appreciate to my team. I wish this
          team could be long-lasting and I will put my best effort to continue
          activities of this team afterward."
        </span>
      </div>
    </div>
  </div>
  <hr />

  <!-- TEAM_COL 2 -->
  <!-- TEAM_COL 2 -->
  <!-- TEAM_COL 2 -->

  <div class="team_col team_col_even">
    <div class="members_intro">
      <div class="members_att">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
          Attribution
        </span>
        <span>
          Analysis, Conceptualization, Investigation, Fundraising, Public
          engagement,<br />
          Entrepreneurship, Background research, Visualization, Writing, and
          Safety
        </span>
        <br />
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
          Depart
        </span>
        <span>
          <b>Fundraising Responsibility</b> / Molecular & Medical Science,
          Incheon National University
        </span>
      </div>
      <div class="members_dep">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
        </span>
        <span>
          "Love to meet people, new challenge, play all kinds of sports (most
          attracted to basketball), and love music (Jazz, EDM, Classic, Rock,
          Hip-hop, R&B) Interested in artificial bloodstream, organoids and
          radiation resistance, micro-algae Came to this world for challenges
          and adventures! Hope this competition can be a beginning for our
          journey."
        </span>
      </div>
    </div>
    <div class="members_photo">
      <img
        src="https://static.igem.wiki/teams/4310/wiki/team-cjy.png"
        class="team-cjy-img"
      />
      <span> <b>Jun Young Chun</b> </span>
    </div>
  </div>
  <hr />

  <!-- TEAM_COL 3 -->
  <!-- TEAM_COL 3 -->
  <!-- TEAM_COL 3 -->

  <div class="team_col team_col_odd">
    <div class="members_photo photo_jungkuk">
      <img
        src="https://static.igem.wiki/teams/4310/wiki/team-pjk.png"
        class="team-pjk-img"
        width="50%"
      />
      <span> <b>Jungkuk Park</b> </span>
    </div>
    <div class="members_intro">
      <div class="members_att">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Attribution
        </span>
        <span>
          Analysis, Conceptualization, Investigation, Lab Maintenance,
          Background Research, Project Administration, Writing, and Safety
        </span>
        <br />
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Depart
        </span>
        <span>
          <b>Wet Lab Leader</b> / Molecular Biotechnology, Ghent University
        </span>
      </div>
      <div class="members_dep">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
        </span>
        <span>
          "Thank you for your interest in our project. We will become a team
          that develops for a better world."
        </span>
      </div>
    </div>
  </div>
  <hr />

  <!-- TEAM_COL 4 -->
  <!-- TEAM_COL 4 -->
  <!-- TEAM_COL 4 -->

  <div class="team_col team_col_even">
    <div class="members_intro">
      <div class="members_att">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
          Attribution
        </span>
        <span>
          Analysis, Conceptualization, Investigation, Lab Maintenance,<br />
          Public Engagement, Background Research, Visualization, Writing, and
          Safety
        </span>
        <br />
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
          Depart
        </span>
        <span>
          <b>Wet Lab Member</b> / Molecular Biotechnology, Ghent University
        </span>
      </div>
      <div class="members_dep">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
        </span>
        <span>
          "Hi everyone :) This year is my first participation in the
          competition. Having the opportunity to try and solve real-world
          problems with synthetic biology really caught my eye. There were
          challenging times but after all, I have gained so many valuable
          experiences both as a Biotechnologist and as a team member. Being able
          to grow together as a team planning the whole project every inch and
          seeing the little achievements made along the journey was fascinating.
          I am looking forward to more!"
        </span>
      </div>
    </div>
    <div class="members_photo">
      <img
        src="https://static.igem.wiki/teams/4310/wiki/team-kjh.png"
        class="team-kjh-img"
      />
      <span> <b>Jihye Kim</b> </span>
    </div>
  </div>
  <hr />

  <!-- TEAM_COL 5 -->
  <!-- TEAM_COL 5 -->
  <!-- TEAM_COL 5 -->

  <div class="team_col team_col_odd">
    <div class="members_photo">
      <img
        src="https://static.igem.wiki/teams/4310/wiki/team-kgh.png"
        class="team-kgh-img"
      />
      <span> <b>Gahyun Kim</b> </span>
    </div>
    <div class="members_intro">
      <div class="members_att">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Attribution
        </span>
        <span>
          Investigation, Lab maintenance, Writing, Background Research and
          Safety
        </span>
        <br />
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Depart
        </span>
        <span>
          <b>Wet Lab Member</b> / Bioengineering, Incheon National University
        </span>
      </div>
      <div class="members_dep">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
        </span>
        <span>
          "I joined iGEM because it seemed a fascinating project to develop my
          scientific skills and meet friends from different backgrounds. It was
          a great opportunity for me to gain a lot of lab experiences and work
          on a scientific project with team members. I am responsible for
          investigation, lab maintenance, writing, and background research. In
          my spare time, I enjoy listening to K-POP and spending time with my
          dog."
        </span>
      </div>
    </div>
  </div>
  <hr />

  <!-- TEAM_COL 6 -->
  <!-- TEAM_COL 6 -->
  <!-- TEAM_COL 6 -->

  <div class="team_col team_col_even">
    <div class="members_intro">
      <div class="members_att">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
          Attribution
        </span>
        <span> Analysis, Background Research, Writing, and Safety </span>
        <br />
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
          Depart
        </span>
        <span> <b>Wet Lab Member</b> / Oceanography, Inha University </span>
      </div>
      <div class="members_dep">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
        </span>
        <span>
          "Hello! I'm Sohee Kim, a member of Team UIncheon. I like to spend time
          alone while listening to music. I'm interested not only in biology,
          which is the basis of the project, but also in the culture and
          language of each country. I think iGEM is a special opportunity to
          satisfy my various interests. This is my first time to participate in
          iGEM, and I learned a lot while preparing for the project. I was able
          to fill in what I lacked and grow more than before. I hope that our
          project has a good influence on society!"
        </span>
      </div>
    </div>
    <div class="members_photo">
      <img
        src="https://static.igem.wiki/teams/4310/wiki/team-kshee.png"
        class="team-kshee-img"
      />
      <span> <b>Sohee Kim</b> </span>
    </div>
  </div>
  <hr />

  <!-- TEAM_COL 7 -->
  <!-- TEAM_COL 7 -->
  <!-- TEAM_COL 7 -->

  <div class="team_col team_col_odd">
    <div class="members_photo">
      <img
        src="https://static.igem.wiki/teams/4310/wiki/team-ksh.png"
        class="team-ksh-img"
      />
      <span> <b>Sohyun Kim</b> </span>
    </div>
    <div class="members_intro">
      <div class="members_att">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Attribution
        </span>
        <span>
          Analysis, Fundraising, Public Engagement, Background Research,<br />Project
          Administration, and Writing
        </span>
        <br />
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Depart
        </span>
        <span>
          <b>Wet Lab Member</b> / Life Science & Bioengineering, Incheon
          National University
        </span>
      </div>
      <div class="members_dep">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
        </span>
        <span>
          "Hello, I'm So Hyun Kim, majoring in life science. I'm happy to
          participate in the International Synthetic Biology Contest. I can't
          wait to see the amazing ideas of the participants at iGEM 2022. Let's
          enjoy the charm of synthetic biology together! <br />Good luck to all
          of you participants :)"
        </span>
      </div>
    </div>
  </div>
  <hr />

  <!-- TEAM_COL 8 -->
  <!-- TEAM_COL 8 -->
  <!-- TEAM_COL 8 -->

  <div class="team_col team_col_even">
    <div class="members_intro">
      <div class="members_att">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
          Attribution
        </span>
        <span>
          Analysis, Conceptualization, Investigation, Hardware,<br />
          Visualization, and Writing
        </span>
        <br />
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
          Depart
        </span>
        <span>
          <b>Dry Lab Leader</b> / Electronic of Engineering, Incheon National
          University
        </span>
      </div>
      <div class="members_dep">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
        </span>
        <span>
          "Hi there! I'm Kled heetae Yu.<br />
          It's an honor to join iGEM Competition as a member of Uincheon's
          team!<br />
          I am glad to get various experiences, knowledge, and team members
          through this opportunity.<br />
          And the process of writing team wiki was very thrilling!<br />
          I hope this wiki will be useful information for everyone :D"
        </span>
      </div>
    </div>
    <div class="members_photo photo_heetae">
      <img
        src="https://static.igem.wiki/teams/4310/wiki/team-ky.png"
        class="team-heetae-img"
      />
      <span> <b>Heetae Yu</b> </span>
    </div>
  </div>
  <hr />

  <!-- TEAM_COL 9 -->
  <!-- TEAM_COL 9 -->
  <!-- TEAM_COL 9 -->

  <div class="team_col team_col_odd">
    <div class="members_photo photo_wonhee">
      <img
        src="https://static.igem.wiki/teams/4310/wiki/team-hwh.png"
        class="team-yht-img"
      />
      <span> <b>Wonhee Han</b> </span>
    </div>
    <div class="members_intro">
      <div class="members_att">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Attribution
        </span>
        <span> Software, and Hardware </span>
        <br />
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
          Depart
        </span>
        <span>
          <b>Dry Lab Member</b> / Industrial management of Engineering, Incheon
          National University
        </span>
      </div>
      <div class="members_dep">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
          "
        >
        </span>
        <span>
          "I am majoring in Industrial Engineering. My role is to develop
          hardware and software systems optimized for the project in dry lab.
          I'm excited to be part of this project where different engineering
          disciplines come together to solve problems in new ways."
        </span>
      </div>
    </div>
  </div>
  <hr />

  <!-- TEAM_COL 10 -->
  <!-- TEAM_COL 10 -->
  <!-- TEAM_COL 10 -->

  <div class="team_col team_col_even">
    <div class="members_intro">
      <div class="members_att">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
          Attribution
        </span>
        <span> Visualization </span>
        <br />
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
          Depart
        </span>
        <span>
          <b>Design Team </b> / Department of Design, Incheon National
          University
        </span>
      </div>
      <div class="members_dep">
        <span
          style="
            color: brown;
            font-size: 20px;
            font-weight: 500;
            text-align: right;
          "
        >
        </span>
        <span>
          "Hello, I'm designer Go Young-hyun. I'm still inexperienced. However,
          we participate in the overall design work and help you. It was really
          nice to be able to participate in the igem project together starting
          with coincidence and move forward together. We will continue to work
          hard so that everyone can develop."
        </span>
      </div>
    </div>
    <div class="members_photo photo_younghyun">
      <img
        src="https://static.igem.wiki/teams/4310/wiki/team-gyh.png"
        class="team-younghyun-img"
      />
      <span> <b>Younghyun Go</b> </span>
    </div>
  </div>
  <div class="team_col team_col11"></div>
  <div class="team_col team_col12"></div>
</div>
<a href="#" class="top-btn"><span> ⇪ </span></a>

{% endblock %}
