<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"
    />
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" />

    <!-- Bootstrap CSS -->
    <link
      href="{{ url_for('static', filename = 'bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link
      href="{{ url_for('static', filename = 'style.css') }}"
      rel="stylesheet"
    />
    <title>{% block title %}{% endblock %}ALGENE::UIncheon</title>
  </head>
  <body>
    <!-- Navigation -->
    {% include 'menu.html' %}

    <!-- Header -->
    <header>
      <!-- <section class="visual">
        <div class="visual__inner"></div>
      </section> -->
      <section class="visual">
        <iframe
          title="Beckman Coulter - Use Tips Wisely"
          width="100%"
          height="100%"
          src="https://video.igem.org/videos/embed/56fa7f19-f240-438f-8ef7-6d7f50c0aef7?autoplay=1&loop=1&autopause=0&muted=1&controls=0"
          frameborder="0"
          allowfullscreen
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowtrasparent="true"
          controls="0"
          display="block"
        ></iframe>
      </section>
      <div class="video__cover"></div>
      <div class="container">
        <div class="title-holder">
          <div class="txt-mask">
            <span>Suggest</span>
          </div>
          <div class="txt-mask">
            <span>Wastewater</span>
          </div>
          <div class="txt-mask">
            <span>Treatment</span>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="content">{% block page_content %}{% endblock %}</div>

    <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
    {% include 'footer.html' %}

    <!-- Wiki Tools: Teams are allowed to remove it -->
    {% include 'wiki-tools.html' %}

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
      integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
      integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'main.js') }}"></script>
  </body>
</html>
