* {
  list-style: none;
  font-family: "Red Hat Display", sans-serif;
}
div {
  animation: fadein 0.1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}
#loading {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading .spinner {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #f19022;
  border-bottom-color: #f19022;
  animation: spinner 0.8s ease infinite;
}
#loading2 {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 200px;
  height: 100px;
  border: 1px solid red;
}

.spinner2::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  border-radius: 50%;
  border: 4px solid lightgrey;
  border-top-color: blue;
  animation: spinner 0.8s linear infinite;
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.top-btn {
  all: unset;
  position: fixed;
  right: 120px;
  bottom: 120px;
  cursor: pointer;
  transform: scale(1.8);
  opacity: 0;
  transition: 0.3s;
}

.content {
  width: 100vw;
  height: 100vh;
}

.containers {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.left-aligned {
  margin-left: auto;
}
.bg-dark {
  background-color: #343a40 !important;
}
.bg-hero {
  background-color: #54bab9;
  margin-top: 0px !important;
}

/* footer */
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  color: white;
  text-decoration: underline;
}

.navbar {
  position: fixed;
  width: 100vw;
  top: 0px;
  backdrop-filter: blur(60px);
  background-color: transparent;
}

.navbar-main {
  margin-top: 25px;
}

.inner {
  width: 1550px;
  height: 70px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: transparent;
  margin: auto;
  position: relative;
  align-items: center;
}

.gnb-white {
  width: 100%;
  background-color: #fff;
  position: absolute;
  margin-top: -70px;
}

.inner .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3.1vw;
  margin: auto;
  margin-top: 5px;
  align-items: center;
}

.menu {
  right: 200px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 15px;
  margin-left: 10px;
}

.menu .menu-item {
  text-align: left;
}

.menu .menu-item .item__name {
  padding: 10px 70px 32px 0px;
  font-size: 16px;
  text-align: left;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.menu .menu-item:hover .item__name {
  color: black;
  transition: 0.3s;
}

.menu .has-sub-menu:hover .sub-menu {
  display: block;
  text-decoration: none;
  position: fixed;
}

.menu .sub-menu {
  text-align: left;
  text-decoration: none;
  padding-inline-start: 1rem;
  font-size: 14px;
  padding: 25px 0 0 0;
  display: none;
}

.menu .sub-menu > li {
  padding-bottom: 10px;
  text-decoration: none;
}

.menu .sub-menu > li > a {
  text-decoration: none;
  color: #9d9d9d;
  font-weight: 600;
  font-size: 15px;
}

.menu .sub-menu > li:hover {
  padding-left: 3px;
  transition: 0.3s;
  color: #000000;
}

.menu .sub-menu > li:hover > a {
  color: black;
}

.uibadges {
  position: fixed;
  top: 132px;
  right: 36px; /* 12px */
  z-index: 100;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.visual__inner {
  height: 480px;
  width: 3000px;
  background-repeat: no-repeat;
}

.video__area {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill;
  display: flex;
  margin: 0;
}

.video__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("https://static.igem.wiki/teams/4310/wiki/video-cover-pattern.png");
  opacity: 1;
}

.title-holder {
  position: absolute;
  top: 380px;
  right: 300px;
  line-height: normal;
  font-size: 48px;
  color: #fff;
  font-weight: 600;
  font-style: italic;
  z-index: 11;
}

.title-holder .txt-mask {
  opacity: 0;
}

/*   SECTION-1   */

.sec-1 {
  padding: 0;
  background-color: #f4f8f8;
  /* height: 1054px; */
  vertical-align: middle;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8vw;
}

.sec-1 .container-1 .column-1 {
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
  padding: 13.3vw 5.20833vw;
}

.sec-1 .container-1 .col-1 {
  display: block;
  opacity: 0;
  max-width: 400px;
  padding: 3 0.8333vh;
  margin-bottom: 20px;
}

.text-mask > span {
  font-size: 4.2vw;
  line-height: 3.8333vw;
  font-weight: 400;
}

.sec-1 .container-1 .col-1-2 {
  display: block;
}

.sec-1 .container-1 .col-1-2 .text-mask > span {
  font-size: 26px;
  font-weight: lighter;
  line-height: 32px;
}

.sec-1 .sec1-bg {
  width: 40vw;
  position: absolute;
  display: flex;
  overflow: hidden;
  right: -8.333vw;
  border-radius: 10%;
  opacity: 0;
  top: 10vh;
  filter: drop-shadow(10px 10px 10px #000);
}

.sec-1-video__area {
  position: absolute;
  display: flex;
  overflow: hidden;
  right: 2.333vw;
  top: 5vw;
  opacity: 1;
  filter: drop-shadow(10px 10px 10px #000);
  padding: 0;
  width: 50vw;
  height: 80vh;
  vertical-align: center;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill;
  display: flex;
  margin: 0;
}

/*****   SECTION-2   *****/

.sec-2 {
  background-color: #2c2c6d;
  height: 100vh;
}

.sec-2 .container-2 .column-1 {
  display: flex;
  align-items: center;
}

.sec-2 .container-2 .column-1 > img {
  display: flex;
  opacity: 0;
  border-radius: 10%;
  filter: drop-shadow(10px 10px 10px #000);
}
.sec-2 .container-2 .column-2 {
  flex-wrap: wrap;
  position: absolute;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 13.3vw 5.20833vw 13.3vw 0;
  left: 63.33vw;
  top: 3.33vh;
}

.sec-2 .container-2 .col-2 {
  display: block;
  opacity: 1;
  max-width: 420px;
  padding: 3 0.8333vh;
  color: #fff;
  opacity: 0;
}

.sec-2 .container-2 {
  background-color: #2c2c6d;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.sec-2 .container-2 .col-2-2 .text-mask > span {
  font-size: 26px;
  font-weight: lighter;
  line-height: 32px;
}

/*****   SECTION-3   *****/
/*****   SECTION-3   *****/
/*****   SECTION-3   *****/

.sec-3 {
  background-color: #2c2c6d;
  height: 50vh;
}

.sec-3 .container-3 .column-3 {
  flex-wrap: wrap;
  position: absolute;
  flex-direction: row;
  vertical-align: middle;
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
  padding: 5.3vw 5.20833vw 13.3vw 0;
  left: 14.33vw;
  color: #000;
}

.sec-3 .container-3 .column-3 .column-3-box {
  max-width: 300px;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
}

.sec-3 .container-3 .column-3 .text-mask {
  opacity: 0;
  margin: 0;
}

.sec-3 .container-3 .column-3 .column-3-sub {
  display: block;
  position: absolute;
  max-width: 1000px;
  left: 41.33vw;
  top: 1.33vw;
}

.sec-3 .container-3 .column-3 .text-mask-sub {
  top: 1.33vw;
  font-size: 1.5vw;
  text-align: right;
  opacity: 0;
}

.sec-3 .container-3 .column-4 {
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-between;
  top: 0vh;
  left: 13.3333vw;
  color: #000;
  background-color: #fff;
  padding: 30px 100px;
  border-radius: 7%;
  text-align: center;
  width: 30vw;
}

.sec-2 .container-2 .column-5 {
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-between;
  top: 50vh;
  left: 53.3333vw;
  color: #000;
  background-color: #fff;
  padding: 30px 100px;
  border-radius: 7%;
  text-align: center;
  width: 30vw;
}

.sec-3 .container-3 .column-5 {
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-between;
  top: 00vh;
  left: 53.3333vw;
  color: #000;
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 7%;
  text-align: center;
  width: 30vw;
}

.sec-3 .container-3 .column .text-mask {
  font-size: 2.333vw;
}

.sec-3 .container-3 .column .count {
  font-size: 4vw;
  opacity: 0;
}

.sec-3 .container-3 .text-mask-source {
  font-size: 0.1vw;
  text-align: right;
}

/*****   SECTION-4   *****/
/*****   SECTION-4   *****/
/*****   SECTION-4   *****/

.sec-4 {
  background-color: #dcd1d7;
  display: block;
  overflow: scroll;
}

.sec-4-content {
  width: 100vw;
  height: 150vh;
}

.sec-4 .container-4 {
  top: 0;
  height: 40vh;
}

.sec-4 .container-4 .row-1 {
  position: absolute;
  width: 80vw;
  margin-top: 100px;
  padding: 5.3vw 0 0 0;
  line-height: 3.8333vw;
  left: 12.33vw;
}

.sec-4 .container-4 .row-1 .text-mask {
  opacity: 0;
}

.sec-4 .container-4 .row-1 .row-1-sub {
  display: block;
  position: absolute;
  max-width: 50vw;
  top: 3.833vw;
  line-height: 2.8333vw;
  right: 4.33vw;
}

.sec-4 .container-4 .row-1 .text-mask-sub {
  top: 1.33vw;
  font-size: 1.5vw;
  text-align: left;
  opacity: 0;
}

.sec-4 .container-4-2 {
  text-align: center;
  padding-top: 5vh;
  height: 30vh;
}

.sec-4 .container-4-3 {
  height: 80vh;
  display: flex;
}

.sec-4 .container-4-3 .col-4-1 {
  width: 50%;
  align-items: center;
  text-align: center;
}

.sec-4 .container-4-3 .col-4-1 .text-mask {
  text-align: center;
}
.sec-4 .container-4-3 .col-4-1 .text-mask-cons > span {
  font-size: 2vw;
}

.sec-4 .container-4-3 .col-4-1 .container-accord > span {
  font-size: 1.5vw;
  line-height: normal;
}

.sec-4 .container-4-3 .col-4-2 {
  width: 50%;
}
.sec-4 .container-4-3 .col-4-2 .text-mask-pros > span {
  font-size: 2vw;
}

.sec-4 .container-4-3 .col-4-2 .text-mask {
  text-align: center;
}

.sec-4 .container-4-3 .col-4-2 .container-accord > span {
  font-size: 1.5vw;
  line-height: normal;
}

.sec-4 .container-4-3 .col-4-1 .container-accord {
  display: block;
  padding-top: 3vh;
  text-align: center;
}

.sec-4 .container-4-3 .col-4-2 .container-accord {
  display: block;
  padding-top: 3vh;
  text-align: center;
}

.accordion {
  background-color: #eee;
  color: #777;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 1vw 0;
  font-size: 1.3vw;
}

.accordion-cons:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion-pros:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion-cons:hover {
  background-color: #ff577f;
  transition: 0.7s ease-out;
  color: #000;
}

.active,
.accordion-pros:hover {
  background-color: #31c6d4;
  transition: 0.7s ease-out;
  color: #000;
}

.active:after {
  content: "\2212";
}

/* Style the accordion panel. Note: hidden by default */
.panel-4-1 {
  width: 80%;
  padding: 10px 18px;
  text-align: left;
  background-color: white;
  display: none;
  overflow: hidden;
  margin: auto;
  font-size: 1vw;
}

.panel-4-2 {
  width: 80%;
  padding: 10px 18px;
  text-align: left;
  background-color: white;
  display: none;
  overflow: hidden;
  margin: auto;
  font-size: 1vw;
}
/*****   SECTION-5   *****/
/*****   SECTION-5   *****/
/*****   SECTION-5   *****/

.sec-5 {
  background-color: #f4f8f8;
  width: 100vw;
  height: 180vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: relative;
}

.sec-5 .container__5 {
  display: table;
  position: relative;
  height: 10vh;
  width: 100vw;
  top: 5.333vw;
}

.sec-5 .container__5 .text-mask {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  left: 0;
  width: 100vw;
}

.sec-5 .container__5 .text-mask > span {
  font-size: 3.333vw;
}

.sec-5 .container__6 {
  display: table;
  position: relative;
  height: 5vh;
  width: 100vw;
  flex-direction: column;
  top: 3.33vw;
}

.sec-5 .container__6 .text-mask {
  display: block;
  text-align: center;
  left: 0;
  width: 100vw;
  font-weight: 100;
}

.sec-5 .container__6 .text-mask .blank {
  display: block;
  width: 100vw;
  height: 2px;
  line-height: 1.5;
}

.sec-5 .mini-container {
  display: block;
  text-align: center;
  width: 100vw;
  padding-top: 20vh;
}

.sec-5 .mini-container .text-mask-sub {
  display: inline-block;
  position: relative;
  top: 1.33vw;
  font-size: 1.6vw;
  text-align: left;
  opacity: 1;
  width: 80vw;
}

.sec-5 .swiper {
  width: 100vw;
  height: 50vh;
  top: 90vh;
  position: absolute;
}

.sec-5 .swiper .swiper-slide {
  position: relative;
  opacity: 0.3;
  transition: opacity 1s;
}

.sec-5 .swiper .swiper-slide > img {
  width: 100%;
}

.sec-5 .swiper .swiper-slide-active {
  opacity: 1;
}

/*****   SECTION-6   *****/
/*****   SECTION-6   *****/
/*****   SECTION-6   *****/
.sec-6 {
  background-color: #c9dbdb;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.sec-6 .container__7 {
  display: flex;
  position: relative;
}

.sec-6 .container__7 .container-7-img {
  padding: 0 0 0 5vw;
  opacity: 0;
}

.sec-6 .container__7 .text-mask {
  padding: 30vw 0 0 2vw;
  max-width: 32vw;
}

.sec-6 .container__7 .text-mask > span {
  font-size: 1.8vw;
  line-height: normal;
  font-style: italic;
}

.sec-6 .container__8 {
  display: flex;
  align-content: right;
  position: relative;
  margin: 200px 0 0 0;
  overflow: hidden;
}

.sec-6 .container__8 .text-mask {
  max-width: 600px;
  margin: 10vw 2.333vw 0 auto;
  text-align: right;
}

.sec-6 .container__8 .text-mask > span {
  font-size: 1.8vw;
  line-height: normal;
  overflow: hidden;
  font-style: italic;
}

.sec-6 .container__8 .container-8-img {
  opacity: 0;
  overflow: hidden;
}

/*****   Team   *****/
/*****   Team   *****/
/*****   Team   *****/

.banner {
  width: 100vw;

  position: sticky;
}

.team_sec1 {
  margin-top: 4vw;
}

.team_sec1 .team_col0 > h1 {
  text-align: center;
}

.team_sec2 {
  width: 100%;
  height: 620vh;
  left: 5px;
  right: 5px;
  background-color: #c8ccd0;
  overflow: hidden;
}

.team_sec2 .members_photo > img {
  filter: drop-shadow(10px 10px 10px #000);
}

.team_col {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
}

.team_col_odd {
  padding-left: 3vw;
}

.team_col_even {
  padding-right: 3vw;
}

.team_col_odd .members_photo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  max-width: 700px;
}

.team_col_even .members_photo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  max-width: 700px;
}

.team_col_odd .photo_jungkuk {
  max-width: 26vw;
}

.team_col_odd .photo_wonhee {
  max-width: 29vw;
}

.team_col_even .photo_heetae {
  max-width: 35vw;
}

.team_col_even .photo_younghyun {
  max-width: 25vw;
}

.team_col_odd .members_photo > img {
  width: 80%;
}

.team_col_even .members_photo > img {
  width: 80%;
}

.team_col .members_photo > span {
  font-size: 2vw;
  text-align: center;
  padding-top: 15px;
}

.team_col_odd .members_intro {
  max-width: 70vw;
}

.team_col_even .members_intro {
  margin-left: 9vw;
  max-width: 60vw;
  text-align: right;
}

.team_col_odd .members_att {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 50vw;
  font-size: 1.2vw;
  vertical-align: center;
}

.team_col_even .members_att {
  display: flex;
  flex-direction: column;
  height: 20vh;
  font-size: 1.2vw;
  vertical-align: center;
}

.team_col .members_dep {
  font-size: 1.3vw;
  font-style: italic;
}

.team_col_odd .members_dep {
  display: flex;
  flex-direction: column;
  max-width: 70%;

  padding-top: 3vw;
}

.team_col_even .members_dep {
  display: flex;
  flex-direction: column;
  padding-top: 3vw;
  text-align: right;
}

.team-yht-img {
  position: inherit;
}

/*****   attributions   *****/
/*****   attributions   *****/
/*****   attributions   *****/

.sec-att {
  width: 100vw;
  height: 760vh;
  background-color: #c8ccd0;
  text-align: center;
  overflow: scroll;
}

.sec-att .att-mask > span {
  font-size: 1.533vw;
}

.sec-att .att-container {
  text-align: left;
  display: inline-block;
  padding: 0 100px;
  background-color: #f4f8f8;
  max-width: 80vw;
  margin-top: 3.3333vw;
}

.sec-att .att-container .text-mask-1 {
  margin-top: 7.33vw;
  text-align: left;
}

.sec-att .att-container .text-mask-1 > span {
  font-size: 2.33vw;
  font-weight: 500;
}

.sec-att .att-container .text-mask-2 {
  margin-top: 1.33vw;
  text-align: left;
}

.sec-att .att-container .text-mask-3 {
  margin-top: 20vh;
  text-align: left;
}

.sec-att .att-container .intr {
  max-width: 70vw;
  font-size: 1.33vw;
  text-align: left;
  margin: 2vw 0 0 1vw;
}

.intr {
  width: 60vw;
  font-size: 1.73vw;
  margin: auto;
}

/*****   collabroations   *****/
/*****   collabroations   *****/
/*****   collabroations   *****/

.sec-collabo {
  display: flex;
  width: 100vw;
  height: 440vh;
  background-color: #c8ccd0;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.sec-collabo .text-mask-img {
  padding: 3vh 0 6vh;
}
.sec-collabo .collabo-mask > span {
  font-size: 1.533vw;
}

.sec-collabo .collabo-container-1 {
  text-align: left;
  display: inline-block;
  padding: 0 100px;
  background-color: #f4f8f8;
  width: 80vw;
  margin-top: 3.3333vw;
  text-align: left;
}

.sec-collabo .collabo-container-1 .intr {
  text-align: left;
  margin: 0;
}

.sec-collabo .collabo-container-1 .text-mask-1 {
  margin-top: 7.33vw;
  text-align: left;
}

.sec-collabo .collabo-container-1 .text-mask-1 > span {
  font-size: 3.33vw;
  font-weight: 500;
}

.sec-collabo .collabo-container-1 .text-mask-2 {
  margin-top: 1.33vw;
  text-align: left;
}

.sec-collabo .collabo-container {
  text-align: center;
  display: inline-block;
  padding: 0 100px;
  background-color: #f4f8f8;
  width: 80vw;
}

.sec-collabo .collabo-mask {
  padding-top: 20vh;
}

.sec-collabo .collabo-mask > span {
  font-size: 2.33vw;
  font-weight: 500;
}

.collabo-intr {
  text-align: left;
}

/*****   HP   *****/
/*****   HP   *****/
/*****   HP   *****/

.sec-hp {
  background-color: #c8ccd0;
  display: flex;
  width: 100vw;
  height: 700vh;
  overflow: scroll;
}

.sec-hp .sidebar-hp {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 15vw;
  font-size: 1.5vw;
  margin: -10vw 0 0 2vw;
  text-align: center;
  opacity: 0;
}

.sec-hp .sidebar-hp > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  padding: 0.5vw 0;
}

.sec-hp .container-hp-1 {
  padding: 3vw 20vw 0 30vw;
}

.hp-text-mask {
  font-size: 2.5vw;
  font-weight: 500;
}

.hp-text-mask-sub {
  font-size: 1.2vw;
}

/*****   footer   *****/
/*****   footer   *****/
/*****   footer   *****/

.footer {
  padding-top: 3rem !important;
  padding-bottom: 0.6667rem !important;
}

.footer_main_menu {
  right: 200px;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 9vw;
}

.footer_menu {
  margin: 0 1.333vw;
  text-align: center;
}

.footer_content {
  min-width: 7.333vw;
}

.footer_content .footer_sub_menu {
  text-align: left;
  text-decoration: none;
  padding-inline-start: 1rem;
  font-size: 14px;
  padding: 25px 0 0 0;
  text-align: center;
}

.footer_content .footer_sub_menu > li {
  margin-top: 1vw;
}

.mb-4 {
  position: relative;
  margin-bottom: 10vw;
}

.foot_contact {
  margin-left: 44vw;
  position: relative;
  margin-top: -4vw;
}

.foot_contactUs {
  font-size: 1.444vw;
  font-weight: 400;
}

.foot_contact_mail {
  margin-top: 0.5vw;
  font-size: 1rem;
}

.material_icon {
  margin-right: 0.5vw;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
