* {
  list-style: none;
}

body {
  padding-top: 56px;
}
.left-aligned {
  margin-left: auto;
}
.bg-dark {
  background-color: #343a40 !important;
}
.bg-hero {
  background-color: #b7d3df;
  margin-top: 0px !important;
}

/* CALLOUT */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}
.bd-callout h4 {
  margin-bottom: 0.25rem;
}
.bd-callout p:last-child {
  margin-bottom: 0;
}
.bd-callout code {
  border-radius: 0.25rem;
}
.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}
.bd-callout-info {
  border-left-color: #5bc0de;
}
.bd-callout-warning {
  border-left-color: #f0ad4e;
}
.bd-callout-danger {
  border-left-color: #d9534f;
}

/* footer */
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  color: white;
  text-decoration: underline;
}

.navbar {
  background-color: #b1bce6;
}

.navbar-main {
  align-items: center;
  margin-top: 25px;
}

.inner {
  width: 1300px;
  height: 70px;
  margin: 0 auto;
  position: relative;
}

.inner .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* .menu {
  display: flex;
  margin-left: 16rem;
  font-size: 15px;
  position: fixed;
  flex-direction: row;
  padding-left: 10px 20px 34px 20px;
  margin-bottom: 0;
  list-style: none;
  text-align: left;
}
*/

.menu {
  display: flex;
  position: absolute;
  right: 180px;
  top: 22px;
  z-index: 1;
  text-decoration-line: none;
}

.menu .menu-item {
  text-align: left;
}

.menu .menu-item .item__name {
  padding: 10px 70px 32px 0px;
  font-size: 16px;
  text-align: left;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.menu .menu-item:hover .item__name {
  color: black;
  transition: 0.3s;
}

.menu .has-sub-menu:hover .sub-menu {
  display: block;
  text-decoration: none;
}

.menu .sub-menu {
  text-align: left;
  text-decoration: none;
  padding-inline-start: 0;
  font-size: 14px;
  padding: 15px 0 0 0;
  display: none;
}

.menu .sub-menu > li {
  padding-bottom: 10px;
  text-decoration: none;
}

.menu .sub-menu > li > a {
  text-decoration: none;
  color: #898aa6;
  font-weight: 600;
  font-size: 15px;
}

.menu .sub-menu > li:hover {
  padding-left: 3px;
  transition: 0.3s;
}

.menu .sub-menu > li:hover > a {
  color: black;
}
