body {
  padding-top: 56px;
}
.left-aligned {
  margin-left: auto;
}
.bg-dark {
  background-color: #343a40 !important;
}
.bg-hero {
  background-color: #b1bce6;
  margin-top: 40px !important;
}

/* CALLOUT */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}
.bd-callout h4 {
  margin-bottom: 0.25rem;
}
.bd-callout p:last-child {
  margin-bottom: 0;
}
.bd-callout code {
  border-radius: 0.25rem;
}
.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}
.bd-callout-info {
  border-left-color: #5bc0de;
}
.bd-callout-warning {
  border-left-color: #f0ad4e;
}
.bd-callout-danger {
  border-left-color: #d9534f;
}

/* footer */
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  color: white;
  text-decoration: underline;
}

.navbar {
  background-color: #06283d;
}

.navbar-main {
  align-items: center;
  margin-top: 15px;
}

.inner {
  width: 1300px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}

.inner .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.menu {
  margin-left: 18rem;
  font-size: 15px;
  position: fixed;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: left;
}

.nav-item {
  padding: 0 10px 0 10px;
  z-index: 1;
}

.nav-item:hover {
  transition: 0.2s;
  text-decoration: underline;
}

.nav-link {
  color: #dff6ff;
}

/* dropdown */
